<div class='container'>
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<a href='#/admin/settings/referral-users' style='text-decoration:underline;'>Users List</a> <i class="fa fa-caret-right" aria-hidden="true"></i>{{UserFullName}}
		</div>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div class="headerDivider">
				<div class="header">
					Edit User
				</div>	
			</div>
		</div>
	</div>
	<form serializer="referralEditUserFormSubmit(data)">
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class='loadingSpinner' ng-show="loadingFinal">
					<img src="public/images/ajax-loader.gif" />
				</div>
				<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
					{{errorMessage}}
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				User Information
			</div>
		</div>		
		
		<div class="row">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>First Name</div>
					<input type='text' name="userFirstName" ng-model="UserSingle.userFirstName" />
				</div>
			</div>
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Last Name</div>
					<input type='text' name="userLastName" ng-model="UserSingle.userLastName" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Email</div>
					<input type='text' name="userEmail" ng-model="UserSingle.userEmail" />
				</div>
			</div>
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Job Title</div>
					<select name="JobTitle"  ng-model="UserSingle.JobTitle">
						<option value='0' selected="selected">Please Select</option>
						<option value='1' ng-selected="CurrentJobTitle == 1" >{{ '1' | JobTitles }}</option>
						<option value='2' ng-selected="CurrentJobTitle == 2">{{ '2' | JobTitles }}</option>
						<option value='3' ng-selected="CurrentJobTitle == 3">{{ '3' | JobTitles }}</option>
						<option value='4' ng-selected="CurrentJobTitle == 4">{{ '4' | JobTitles }}</option>
						<option value='5' ng-selected="CurrentJobTitle == 5">{{ '5' | JobTitles }}</option>
						<option value='6' ng-selected="CurrentJobTitle == 6">{{ '6' | JobTitles }}</option>
						<option value='7' ng-selected="CurrentJobTitle == 7">{{ '7' | JobTitles }}</option>
						<option value='8' ng-selected="CurrentJobTitle == 8">{{ '8' | JobTitles }}</option>
						<option value='9' ng-selected="CurrentJobTitle == 9">{{ '9' | JobTitles }}</option>
						<option value='10' ng-selected="CurrentJobTitle == 10">{{ '10' | JobTitles }}</option>
						<option value='11' ng-selected="CurrentJobTitle == 11">{{ '11' | JobTitles }}</option>
						<option value='12' ng-selected="CurrentJobTitle == 12">{{ '12' | JobTitles }}</option>
						<option value='13' ng-selected="CurrentJobTitle == 13">{{ '13' | JobTitles }}</option>
						<option value='14' ng-selected="CurrentJobTitle == 14">{{ '14' | JobTitles }}</option>
						<option value='15' ng-selected="CurrentJobTitle == 15">{{ '15' | JobTitles }}</option>
						<option value='16' ng-selected="CurrentJobTitle == 16">{{ '16' | JobTitles }}</option>
						<option value='17' ng-selected="CurrentJobTitle == 17">{{ '17' | JobTitles }}</option>
						<option value='18' ng-selected="CurrentJobTitle == 18">{{ '18' | JobTitles }}</option>
						<option value='19' ng-selected="CurrentJobTitle == 19">{{ '19' | JobTitles }}</option>
					</select>
				</div>
				
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Store</div>
					<select name="userStore" ng-model="storeDropDown">
						<option value='0'>Please Select</option>
						<option ng-repeat='x in storesList' value='{{x.id}}' ng-selected="currentStore == {{x.id}}">{{x.name}}</option>
					</select>
				</div>
			</div>
		</div>
		
		<div ng-include='"view/admin/settings/shared/UserCredentials.html"'></div>
		
		<div class="row">
			<div class="col-md-12">
				<input type="submit" value="Save" class='greenButton' />
			</div>
		</div>
	

		
		
	</form>
	


</div>


