<div class='container'>
	
	<div class="row">
		<div class='col-md-12'>
			<div class="headerDivider">
				<div class="header">
					Referral Tiers
				</div>							
			</div>
		</div>
	</div>
	<div class="row" ng-show="showMessage">
			<div class="col-md-12">
				<div class="pageMessage">
					<div class='loadingSpinner' ng-show="loadingFinal">
						<img src="public/images/ajax-loader.gif" />
					</div>
					<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
						{{errorMessage}}
					</div>	
				</div>
			</div>
		</div>
	<div class="row">
		
		<div class='col-md-12' id="referralTierList">
			<table>
				<tr ng-repeat='x in ReferralTiers' ng-class-even="'alternate'">
					<td>
						<div ng-hide="editTier($index)">
							{{tierLevelName[$index]}}	
						</div>
						
						<div class="input" ng-show="editTier($index)" style="margin-bottom:0px;">
							<input type="text" ng-model="tierLevelName[$index]" />
						</div>
					</td>
					<td style="text-align:right; width: 150px;">
						<div ng-hide="editTier($index)">
							${{tierLevelPrice[$index]}}
						</div>
						<div class="input" ng-show="editTier($index)" style="margin-bottom:0px;">
							<input type="text" ng-model="tierLevelPrice[$index]" />
						</div>
					</td>
					<td style='width: 20px;'>
						<div ng-hide="editTier($index)">
							<a href="javascript:void(0)" ng-click="EditTierLevelClick($index)">
								<i class="fa fa-pencil" aria-hidden="true" uib-tooltip="Edit Tier" tooltip-placement="bottom"></i>
							</a>
						</div>
						<div ng-show="editTier($index)">
							<form serializer="tierLevelEdit(data, x.referralTierID, $index)">
								<input type="hidden" name="tierLevelName" value="{{tierLevelName[$index]}}" />
								<input type="hidden" name="tierPrice" value="{{tierLevelPrice[$index]}}" />
								<button class="greenButton" uib-tooltip="Save" tooltip-placement="bottom">
									<i class="fa fa-floppy-o" aria-hidden="true"></i>	
								</button>
							</form>	
						</div>
							
						
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>


