@import "variables";
@import "mixins";


.container {
  padding-bottom:30px;
}

a:link {
  text-decoration:underline
}
header {
  display:block;
  background:black;
  padding: 15px 0px;
  color:white;
  position:fixed;
  width:100%;
  z-index: 1;
    
  .userLoggedInName {
    @media (max-width: 680px) {
      display:none;
    }
  }  
      
  .desktopView {
    @media (max-width: 680px) {
      display:none;
    }
  }    
  
  .mobileMenu {
    display:none;
    
    .mobileMenuDropdown {
      background: #6f6f6f;
      position: fixed;
      top: 50px;
      right: 40px;
      display:none;
      
      .menuItem {
        padding: 13px 25px 13px 15px;
        font-size: 18px;
        border-bottom: 1px solid #a7a7a7;
      }
    }
    
    
    @media (max-width: 680px) {
      display:block;
    }
    
  }    
  
  a:link,a:visited {
    color:white;
    text-decoration:none
  }
  
  #logoPlacement {
    font-size:20px;
    float:left;
    padding-left:10px;
    margin-top:3px;
  }
  #rightMenuContent {
    float:right;
    padding-right:10px;
    
    ul {
      
    
      li {
        list-style-type:none;
        display:inline-block;
        vertical-align:middle;
        font-size:20px;
        padding: 0 10px;
        
        img {
          vertical-align:middle;
        }
      }
      
      
      
    }
  }
  
}

.ToDoButton {
  float:right !important;
  margin-top: 11px;
  padding: 7px 10px !important;
  
  @media (max-width: 680px) {
    float:none;
    text-align:center
  }
}
.toDoButtonText {
  margin-top: 10px; float: left; margin-left: 10px; text-decoration:underline;
  
  @media (max-width: 680px) {
    float:none;
    text-align:center;
    margin-left:0px;
  }
  
}

.tabs {
  margin-bottom:15px;
  border:1px solid #d8d8d8;
  background:white;
  padding: 5px;
  @include border-radius(7px);
  
  ul {
    margin-bottom:0px;
    
    li {
      display:inline-block; 
      list-style-type:none;
      padding: 10px;
    }
    li.selected {
        background:#e8e8e8;
        @include border-radius(5px);
      }
    
    a:link, a:visited {
      color:black;
      text-decoration:none;
    }
  }
  
}


.header {
  font-size:40px;
  
  @media (max-width: 680px) {
    font-size:20px;
    padding-bottom: 10px;
  }
  
}


table {
  border-collapse:collapse; 
  width:100%;
  
  tr.header {
    font-weight:700
  }
  
  tr.alternate {
    td {
      background:#f4f4f4
    }
  }
  
  td {
    font-size:16px; padding:10px;
    
    a:link {
      text-decoration:underline;  
    }
    
  }
  td.delete {
    text-align:right; 
    font-size:20px;
    
    a:link {
      color:#c30000;
      cursor:pointer;
    }
  }
  td.percentageNumber {
        width: 120px;
        text-align:right;
  }
  
  td.progressBarTD {
    width: 220px;
    
    .progressBar {
      height:20px;
      @include border-radius(15px);
      
      .progressContentBar {
        height:20px;
        @include border-radius(15px);
      }
    }    
  }  
}

.alternate {
  background:#f4f4f4
}

.progressBar {
  background:$progressBarBackground;
  width:100%;
  overflow:hidden;
  
  .blueProgressBar {
    background: $blue;
  }
}  

.breadCrumbSeciton {
  margin-bottom:10px;
  .fa-caret-right {
    margin:0 5px;
  }
}

.currentWeek {
  text-align: right;
  font-size: 20px;
  padding-top: 20px;
  
  @media (max-width: 680px) {
    text-align: left;
    padding-bottom: 10px;
  }
  
}
.singleStoreProgressBar {
  margin-bottom:20px;
  
  .currentProgressText {
    font-size:30px;
    
    @media (max-width: 680px) {
      text-align: center;
      margin-top:10px;
    }
    
  }
  
  .progressBar {
    height:40px;
    @include border-radius(25px);  
    
    .progressContentBar {
      height:40px;
      @include border-radius(25px);  
    }
  }  
  
}
.postContent {
  .fa-pencil {
    color:white;
  }
  
  ul {
    li {
      list-style-type:none;
      clear: both;
      margin: 10px 0px;
    }  
  }
}
.socialMediaPostType {
  font-size:16px;
  text-transform: capitalize;
      margin-bottom: 20px;
  
  img {
    margin-right:5px;
    float: left;
    margin-top: -3px;
  }
}

.contentLabel {
  font-size:20px; font-weight:700
}
.notCompleted {
  color:$red;
      font-size: 30px;
}
.completedItem {
  color:$green;
  font-size: 30px;
}

.websiteSection {
  a:link {
    text-decoration:underline;
  }
  table {
    border-collapse:collapse;
    width:auto;
    
    td {
      padding:0px 5px 0px 0px;
      font-size:14px;
      
      a:link {
        font-size:14px;
      }
   
    }
  }
}

.marketingdropDownArrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fff;
  float: right;
  margin-top: 13px;
  margin-left: 11px;
}

.marketingDropdown {
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #bfbfbf;
  top: 33px;
  right: 0px;  
  display:none;
    
  .link {
    padding: 10px 25px 10px 15px;
    font-size: 16px;
    border-bottom:1px solid #f3f3f3;
    color: black;
    white-space: nowrap;
    
    a:link {
      color:black
    }
    
    
  }  
}
.newUserIndicator {
    background: orange;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -7.5px;
    @include border-radius(35px);  
}
.loadingContentMesage {
    position: fixed;
    width: 500px;
    z-index: 1;
    right: 50%;
    margin-right: -250px;
}

.declinePostBackground, .MarkAsSoldOverlay, .Overlay {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  @include opacity(.5);
  z-index: 1;
}
.DeclinePostPopup, .MarkAsSoldForm, .DeactivateUser, .PopupForm {
  background:white;
  position: fixed;
  z-index: 9;
  @include border-radius(5px); 
  left: 50%;
  margin-left: -260px;
  top: 110px;
  min-width:500px;
      
  .header {
    font-size:20px;
    padding:10px;
    border-bottom:1px solid #d8d8d8;
    position:relative;
    
    .closeBtn {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 15px;
      color: grey;
      cursor:pointer;
    }
    
  }
  
  .content {
    padding:10px;
    
    textarea {
      width:500px;
    }
  }
}
.Finished {
  color:$progressGreen;
}
.Pending {
  color:$progressYellow;
}
.Declined {
  color:$progressRed;
}

.postContentSubmission ul {
  margin-left:20px;
}

.ActiveStatusText {color: $progressOrange;}
.SoldStatusText {color:$blue}
.InactiveStatusText {color: #b3b3b3;}


.PaidStatusText {color: $progressGreen;}


.ActiveStatus {background: $progressOrange;}
.SoldStatus {background:$blue}

.PaidStatus {background: $progressGreen;}
  
.InactiveStatus {background: #b3b3b3;}
.WarningStatus {background: #c30000;}


.referralInformation {
  padding:0px 0px 10px 0px;
  font-size:16px;
  
  .miscReferralLine {
    clear:both; 
    margin-bottom:10px;
    
    .icon {
       margin-right:5px;
       float:left; 
       width:20px; 
       text-align:center;
    }
    
    
    i {
      font-size:16px;
      color: #337ab7;
     
    }
  }
  
}

.ReferralStatusContainer {
  margin:15px 0px;
  font-size: 20px;
  
  .StatusContainer {
    font-weight: bold;
    margin-bottom:10px;
  }
  
  .CurrentStatusLine {
    margin-left: 5px;
    float: left;
  }
  
}

  .statusIndicator {
    width:15px; 
    height:15px; 
    @include border-radius(15px);  
  }

#ReferralSumarySingle {

  .referralMontElement {
    margin-bottom:25px;
    
    .monthlyCountElement {
      text-align: center;
      margin-top: 5px;
      font-size: 16px;
    }
  }
  
  a:link {
    text-decoration:none;
  }
  
  .ReferralMonthLink {
    background:#4979b5;
    text-align: center;
    
    position:relative;
    
    .infoIcon {
      color: white;
      position: absolute;
      left: 10px;
      top: 6px;
      font-size: 16px;
      
      i {
        margin-right:5px;
      }
      
    }
    
    .dollar {
      font-size: 20px;
      position: relative;
      top: -6px;
      margin-right: 2px;
    }
  
    &:hover {
      background: #2f588c;
    }
    
    .monthLinkHeader {
      font-size:20px;
      color:white;
      text-decoration:none;
      padding:10px 0px 0px 0px;
    }
    .PayoutTotal {
      font-size:30px;
      color:white;
      padding: 0px 0px 10px 0px;
    }
  }  
  
  .totalPayout {
    font-size:30px
  }
  
  .totalPayoutText {
    color:#666; 
    font-size:20px;
    position: relative;
    bottom: 0px;
    margin-right: 6px;
  }

}

.paginationCOntent {
  margin-top:10px;
  
  ul {
    display: table;
    margin: 0 auto;
    
    
    li {
      display: inline;
      list-style-type:none;
      
      span {
        margin: 0 10px;
      }
      
      button {
        @include border-radius(5px);  
        padding: 7px 8px;
        border:none;
      }
      
      button[disabled] {
        @include opacity(.5);
      }
    }
  }
  
}

.ContentPush {
  margin-top:100px;
}

#referralTierList {
  input {
    padding:5px 10px;
  }
  .greenButton {
    padding: 4px 9px;
  }
}

.earnedLine {
  position:relative;
  clear:both;
  
  .referralName {
    float:left;
    padding-right:5px;
    position:relative;
    z-index:1;
  }
  
  .Amount {
    padding-left:5px;
        position:relative;
    z-index:1;
  }
  
  .Amount, .referralName {
    background:white;
  }
  
  .divider {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px dotted #dbdbdb;
    top: 15px;
  }
}

.GrandTotalLine {
  margin-top:10px;
  
  .grandTotalNumber {
    float:right;
    font-weight:bold;  
    font-size:18px;
  }
}

.ActiveList {
  .bullet {
    margin: 0px 4px; 
  }
}
.sidDillonEmployeeBox {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom:10px;
}

.messageText {
  font-size:20px;
  padding:10px;
  @include border-radius(4px);  
}
.messageText.danger {
  border:1px solid #a94442;
  color: #a94442;
}
.messageText.success {
  border:1px solid #3c763d;
  color: #3c763d;  
} 

.postSingleElement {
  
  .urgentIndicator {
    background:#c30000;
    padding:3px 0px;
    color:white;  
    text-align:center;
    margin-bottom:5px;
    text-decoration:none;
    
  }
  
  .Content {
    padding:10px 0px;
    color:black;
  }
  
  overflow:hidden;
  border:1px solid #e9e9e9;
  @include border-radius(4px);
      margin-bottom: 10px;
      
  &:hover {
    border:1px solid #3366cc;
    box-shadow:0px 0px 6px #3366cc;
    -webkit-box-shadow:0px 0px 6px #3366cc;
    -moz-box-shadow:0px 0px 6px #3366cc;
  }      
}

.approvedPost {
  border:1px solid #44c342 !important;
  
  &:hover {
    border:1px solid #074a06 !important;
    box-shadow:0px 0px 6px #074a06;
    -webkit-box-shadow:0px 0px 6px #074a06;
    -moz-box-shadow:0px 0px 6px #074a06;
  }    
}

.declinedPost {
  border:1px solid #c30000 !important;
  
  &:hover {
    border:1px solid #650808 !important;
    box-shadow:0px 0px 6px #650808;
    -webkit-box-shadow:0px 0px 6px #650808;
    -moz-box-shadow:0px 0px 6px #650808;
  }  
}

.isDeclinedIndicator {
  background:#c30000;
  width:10px;
  height:10px;
  float: left;
  @include border-radius(10px);
  margin-top: 6px;
  margin-left: 5px;
}

.isApprovedIndicator {
  background:#02c108;
  width:10px;
  height:10px;
  float: left;
  @include border-radius(10px);
  margin-top: 6px;
  margin-left: 5px;
}

.isPostedIndicator {
  background:#32a5d2;
  width:10px;
  height:10px;
  float: left;
  @include border-radius(10px);
  margin-top: 6px;
  margin-left: 5px;
}
