@import "variables";
@import "mixins";

a:link {
  text-decoration:underline
}

form {
  margin-top:30px;
}
.loginForm {
  margin:60px auto 0 auto;
  width:370px;
  
  .logo {
    margin:10px 0px;
    text-align:center;
  }
  
  .header {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
}
