@import "variables";
@import "mixins";

* {margin:0; padding:0;}

header {

}

body {
  font-family: "Lato",sans-serif !important;
  color:black
}

.push {
 height:115px; 
}

a:link, a:hover {
  text-decoration:none;
  background:none !important;
}
.greenButton {
  background: $green;
  color:white;
  padding: 10px;
  font-size: 16px;
  border:none;
  
  &:hover {
    background: $darkGreen;
    color:white;    
  }
}

.blueButton {
  background: $blue;
  color:white;
  padding: 10px;
  font-size: 16px;
  border:none;
  
  &:hover {
    background: #16477d;
    color:white;    
  }
}

.whiteButton {
  border:1px solid #e3e3e3;
  padding:9px;
  font-size:16px;
  color:black;
  background:white;
  
   &:hover {
    background: #f9f9f9;
  }
  
}

.floatRightButton {
  float:right
}

.floatLeftButton {
  float:left
}

.input {
  margin-bottom: 15px;
  
  .inputLabel {
    font-size:16px;
    margin-bottom:5px;
  }
  
  
}

.contentHeader {
  font-weight: 700;
  margin: 15px 0px;
  font-size: 20px;
}

.headerDivider {
  border-bottom:1px solid #d8d8d8
}

input[type='text'], select, input[type='password'], textarea {
  border:1px solid #d1d1d1;
  width:100%;
  padding:10px;
  @include transition(all 0.25s ease);
  
  &:hover, &:focus {
    @include box-shadow(0px 0px 7px #84b7ea);
    outline:none;
  }
  
}



.pageMessage {
  position: relative;
  padding-top:15px;
  
  .loadingSpinner {
    text-align:center;
    padding: 10px 0px 0px 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:white;
    
    img {
      position:absolute; top:50%; left:50%; margin-left:-16px; margin-top:-16px;
    }
    
  }
  
  .loadingSpinner.ng-hide {
    @include transition(all 0.5s);
    opacity:0;
  }
  
}

.redButton {
  background:$red;
  color:white;
  padding: 10px;
  font-size: 16px;
  border:none;
  
  &:hover {
    background:#9a0000;
  }
  
}

.progressRed {background:$progressRed}
.progressOrange {background:$progressOrange}
.progressYellow {background:$progressYellow}
.progressLightGreen {background:$progressLightGreen}
.progressGreen{background:$progressGreen}

.ViewAnimate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}




.ViewAnimate.ng-enter {
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.ViewAnimate.ng-enter {
    opacity: 0;
}
.ViewAnimate.ng-enter-active {
    opacity: 1;
}
.ViewAnimate.ng-leave {
    opacity: 1;
}
.ViewAnimate.ng-leave-active {
    opacity: 0;
}
.loadingViewIndicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  
  img {
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-16px;
    margin-top:-16px;
  }
}



