//colors

$green: #079622;
$darkGreen: #066718;

$blue: #1e5fa8;
$darkBlue: #16477d;

$red: #c30000;

$progressBarBackground: #b3b3b3;


$progressRed: #f02828;
$progressOrange: #fe6a00;
$progressYellow: #ffd800;
$progressLightGreen: #82e042;
$progressGreen: #089f52;