<div class="loginForm">
	<div class="logo">
		<a href="#/"><img src="public/images/Sid-Dillon-Intranet.png" /></a>	
	</div>
	<div class="header">
		Sid Dillon Intranet Login
	</div>
	<div class="pageMessage" ng-show="showMessage">
		<div class='loadingSpinner' ng-show="loadingFinal">
			<img src="public/images/ajax-loader.gif" />
		</div>
		<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
			<div ng-bind-html="errorMessage"></div>
		</div>
	</div>
	<form serializer="userSubmitEmail(data)">
		<div class="input" style="border-top:1px solid #ececec; padding-top:10px; border-bottom:1px solid #ececec; padding-bottom:10px;">
			Enter your email address below to reset your password.
		</div>
		<div class='input'>
			<div class='inputLabel'>Your Email</div>
			<input type="text" name="userEmail" ng-model="ForgotPassword.userEmail" value="" ng-trim="false" />
		</div>
		<div class='input'>
			<input type="submit" value="Submit" class="blueButton" style='width:100%' />
		</div>
		<div class='input' style="text-align:center">
			<a href="#/">Back to Login</a>
		</div>
	</form>
</div>
