<div class="loginForm">
	<div class="logo">
		<img src="public/images/Sid-Dillon-Intranet.png" />
	</div>
	<div class="header">
		Sid Dillon Intranet Login
	</div>
	<div class="pageMessage" ng-show="showMessage">
		<div class='loadingSpinner' ng-show="loadingFinal">
			<img src="public/images/ajax-loader.gif" />
		</div>
		<div class='text alert alert-danger' ng-show="showMessageText">
			{{errorMessage}}
		</div>
	</div>
	<form serializer="userLoginSubmit(data)">
		<div class='input'>
			<div class='inputLabel'>Username</div>
			<input type="text" name="userNameLogin" ng-model="userNameLogin" />
		</div>
		<div class='input'>
			<div class='inputLabel'>Password</div>
			<input type="password" name="userNamePassword" ng-model="userNamePassword" />
		</div>
		<div class='input'>
			<input type="submit" value="Login" class="blueButton" style='width:100%' />
		</div>
		<div class='input' style="text-align:center">
			<a href="#/forgot-password">Forgot Password?</a> | <a href="#/request-access">Request Access</a>
		</div>
	</form>
</div>
