<div class="loginForm">
	<div ng-show="showPasswordResetForm">	
		<div class="logo">
			<a href="#/"><img src="public/images/Sid-Dillon-Intranet.png" /></a>	
		</div>
		<div class="header">
			Sid Dillon Intranet Login
		</div>
		<div class="pageMessage" ng-show="showMessage">
			<div class='loadingSpinner' ng-show="loadingFinal">
				<img src="public/images/ajax-loader.gif" />
			</div>
			<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
				{{errorMessage}}
			</div>
		</div>
		<form serializer="resetPassword(data)">
			<div class="input" style="border-top:1px solid #ececec; padding-top:10px; border-bottom:1px solid #ececec; padding-bottom:10px;">
				Reset your password.
			</div>
			<div class='input'>
				<div class='inputLabel'>New Password</div>
				<input type="password" name="newPassword" ng-model="PasswordReset.newPassword" />
			</div>
			<div class='input'>
				<input type="submit" value="Save" class="blueButton" style='width:100%' />
			</div>
			<div class='input' style="text-align:center">
				<a href="#/">Back to Login</a>
			</div>
		</form>
	</div>
	<div ng-hide="showPasswordResetForm">
		This page has been expired
	</div>
</div>
