<div class="container">
	<div class="row breadCrumbSeciton" style="margin-bottom:20px;" ng-hide="HideStoreBreadCrumb">
		<div class='col-md-12'>
			<a href='#/admin/' style='text-decoration:underline;'>Dashboard</a> <i class="fa fa-caret-right" aria-hidden="true"></i> <strong>Store weekly list:</strong> {{ToDoList.name}}
		</div>
	</div>
	<div class="row singleStoreProgressBar">
		<div class="col-md-11">
			<div class="progressBar">
				<div ng-style="{'width': (ToDoList.TotalSubmittedContent | Percentage) + '%'}" class="progressContentBar {{ToDoList.TotalSubmittedContent | Percentage | ProgressBarColor}}"></div>
			</div>
		</div>
		<div class="col-md-1 currentProgressText">{{ ToDoList.TotalSubmittedContent | Percentage}}%</div>
	</div>
	

	
	<div class="row headerDivider" style='margin-left:0px; margin-right:0px;'>
		<div class='col-md-6' style='padding-left:0px;'>
			<div class="header">
				Store: {{ToDoList.name}} 	
			</div>
		</div>		
		<div class='col-md-6 currentWeek' style='padding-right:0px;'>
			{{weeklyText}}
		</div>
	</div>
	
	<div class="row postContent" style="margin-top:0px;">
		<div class="col-md-4">
			<div class="row" style="margin-bottom: -10px;">
				<div class="col-md-12">
					<div class='contentHeader'><img src="public/images/facebookIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{ToDoList.SumittedFacebook}} / {{ToDoList.RequiredFacebook}}</div>		
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedFacebookPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='float: left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="row"  style="margin-bottom: -10px;">
				<div class="col-md-12">
					<div class='contentHeader'><img src="public/images/twitterIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{ToDoList.SumittedTwitter}} / {{ToDoList.RequiredTwitter}}</div>		
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedTwitterPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='float: left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="row"  style="margin-bottom: -10px;">
				<div class="col-md-12">
					<div class='contentHeader'><img src="public/images/blogIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{ToDoList.SumittedBlog}} / {{ToDoList.RequiredBlog}}</div>		
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedBlogPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='float:left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row" style="margin-top:30px;">
		<div class='col-md-12'>
			<div class="header headerDivider">
				Store Information 	
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="contentHeader" style='margin-bottom:0px;'>
				Associated Users	
			</div>
			<div ng-repeat="x in RelatedUsers">
				{{x.firstName}} {{x.lastName}} ({{ x.userType | GetUserTypeText }}) 
			</div>
			<div ng-if="!RelatedUsers.length">No Associated Users</div>
		</div>
	</div>
	
	<div class="row">
			<div class="col-md-4">
				<div class="contentHeader" style='margin-bottom:0px;'>
					Address	
				</div>
				{{StoreInfo.Street}}<br />
				{{StoreInfo.City}}, {{StoreInfo.State}} {{StoreInfo.Zip}}<br /> 
				{{StoreInfo.Phone | tel}}
			</div>
			<div class="col-md-8 websiteSection">
				<div class="contentHeader" style='margin-bottom:0px;'>
					Websites	
				</div>
				<div class="row">
					<div class="col-md-6">
						<div>
							<a href="{{facebookURL}}" target="_blank">
								Facebook
							</a>
						</div>
						<div>
							<a href="{{twitterURL}}" target="_blank">
								Twitter
							</a>
						</div>
						<div>
							<a href="{{youtubeURL}}" target="_blank">
								Youtube
							</a>
						</div>
						<div>
							<a href="{{instagramURL}}" target="_blank">
								Instagram
							</a>
						</div>	
						<div>
							<a href="{{googlePlusURL}}" target="_blank">
								Google +
							</a>
						</div>				
					</div>
					<div class="col-md-6">
						<div ng-repeat="x in storeWebsites">
							<div>
								<a href="{{x.name}}" target="_blank">{{x.name}}</a> ({{x.ThirdParty}})
							</div>
							
						</div>
					</div>
				</div>
				
	
			</div>
		</div>
	
	
	
	<div class="row postContent" style="margin-top:0px;">
		

	
	
	
	
	
	
	<div ng-hide="hideStoreInformation">
				
		
		
		
		
		
		
		
	</div>

	
	
	
</div>