<div class="container">
	<div class="row breadCrumbSeciton" ng-hide="HideBreadCrumbs">
		<div class='col-md-12'>
			<span ng-show="showDashboardBreadCrumbLink"><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a> <i class="fa fa-caret-right" aria-hidden="true"></i></span><a href="#/admin/marketing"  style='text-decoration:underline;'>Social Media List</a><i class="fa fa-caret-right" aria-hidden="true"></i>View Post
		</div>
	</div>
	<div class="row headerDivider" style="margin-left:0px; margin-right:0px;">
		<div class='col-md-6' style="padding-left:0px;">
			<div class="header">
				View Submitted Post 
			</div>
		</div>		
		<div class='col-md-6' style="text-align: right; padding-right:0px;" ng-show="ShowApproveDeclineButtons">
			<button ng-click="adminApprovePost()" class='blueButton'>Approve</button>
			<button ng-click="showDeclinePopupForm()" class="redButton">Decline</button>
		</diV>
	</div>
	
	<div class="row pageMessage" ng-show="showMessage">
		<div class="col-md-12">
			<div class='loadingSpinner' ng-show="loadingFinal">
				<img src="public/images/ajax-loader.gif" />
			</div>
			<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
				{{errorMessage}}
			</div>
		</div>
	</div>
	
	<div style='margin-top:20px;'>
		<div class="row">
			<div class="col-md-12 socialMediaPostType">
				<img src="public/images/facebookIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 1}}" />
				<img src="public/images/twitterIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 2}}" />
				<img src="public/images/blogIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 3}}"> Submitted By {{SocialMediaSingle.SubmittedByFullName}} / {{SocialMediaSingle.submittedDate | date:'mediumDate'}} / <strong>{{SocialMediaSingle.StoreName}}</strong>
			</div>
		</div>
		
		<div class="row" style='margin-bottom:20px;' ng-if="SocialMediaSingle.isUrgent == 1">
			<div class="col-md-12">
				<div style="border:1px solid #c30000; padding: 10px; color:#c30000">
					<div class="contentLabel">Urgent!</div>
					Post By {{SocialMediaSingle.isUrgentDate | date:'mediumDate'}}
				</div>				
			</div>
		</div>
		
		
		<div ng-show="ShowIsPostedIndicator">
			<div class="row">
				<div class="col-md-12">
					<div class="alert-info alert">
						<div class="row">
							<div class="col-md-12">
								<div class="contentLabel">Posted On</div>	
								<div ng-if="SocialMediaSingle.isPostedDate">
									{{SocialMediaSingle.isPostedDate | date:'mediumDate'}}	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="showStatusPostSection">
			<div class="row" style="margin-bottom:10px;">
				<div class="col-md-12">
					<div class="{{alertColor}} alert">
						<div class="row">
							<div class="col-md-6">
								<div class="contentLabel">{{SocialMediaSingle.StatusText}} By</div>	
								{{SocialMediaSingle.ApprovedDeclinedByFullName}} / {{SocialMediaSingle.ApprovedDeclinedDate | date:'mediumDate'}}	
							</div>
							<div class="col-md-6" ng-show="ShowDeclinedNotes">
								<div class="contentLabel">Reason</div>
								{{SocialMediaSingle.isDeclinedNotes}}<br />
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		
		
		
		<!--Admin View States-->
		<div ng-show="ShowFormContent">
				
			<form serializer="saveDraft(data)">	
				
				<div class="row postContent">
					<div class="col-md-12">
						<div class='input'>
							<div class='inputLabel'>Post Content</div>
							<div ckeditor="options" ng-model="SinglePost.socialMediaContent"></div>
						</div>
					</div>
				</div>
				<input type="hidden" name="hiddenSocialMediaContent" value="{{SinglePost.socialMediaContent}}" />
				<div class="row">
					<div class="col-md-12">
						<div class='input'>
							<textarea name="socialMediaKeyWords" ng-model="SinglePost.socialMediaKeyWords" placeholder="i.e. #siddillon, #cars"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class='input'>
							<input type="submit" class="greenButton" value="Save Draft" />
						</div>
					</div>
				</div>
			</form>
			
			
			<div ng-show="showDeclinePost">
				<div class="declinePostBackground"></div>
				<div class="DeclinePostPopup">
					<div class="header">
						Decline Post
						<div class="closeBtn" ng-click="hideDeclinePopupForm()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
					</div>
					<div class="content">
						<div class="row pageMessage" ng-show="showMessageDecline" style="padding-top:0px">
							<div class="col-md-12">
								<div class='loadingSpinner' ng-show="loadingFinalDecline" style="left: 10px; right: 10px;">
									<img ng-src="{{ finishLoading }}" />
								</div>
								<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
									{{errorMessageDecline}}
								</div>
							</div>
						</div>
						<form serializer="declinePostFormSubmit(data)">
							<div style="position:relative">
								<div style="float:left; padding-right:5px; background:white; position:relative; z-index:1">
									Your Notes	
								</div>
								<div style="border-bottom: 1px solid #e9e9e9; position: absolute; width: 100%; top: 11px;"></div>
								<div style="clear:both"></div>
							</div>
							<div style="margin: 5px 0px 10px 0px;">This <strong>WILL</strong> be viewed and emailed to the employee.<br />  Please enter the reason this post was declined.</div>
							
							<div style="border-bottom: 1px solid #e9e9e9; margin-bottom:12px;"></div>
							<textarea name="socialMediaDeclinedNotes" ng-model="Decline.socialMediaDeclinedNotes"></textarea>
							<div style="margin-top:5px;">
								<input type="submit" value="Decline Post" class="redButton" />	
							</div>
							
						</form>
						
					</div>
				</div>	
			</div>
			
			
		</div>
		
		<div ng-show="adminReadOnlyView">

			<div class="row">
				<div class="col-md-12 postContentSubmission">
					<div class="contentLabel">Post Content</div>
					<div ng-bind-html="PostContent"></div>
				</div>
			</div>
			
			<div class="row" ng-if="SocialMediaSingle.KeyWords">
				<div class="col-md-12">
					<div class="contentLabel">Keywords</div>
					{{SocialMediaSingle.KeyWords}}
				</div>
			</div>
			
			
			<div class="row" ng-show="showPostButton">
				<div class="col-md-12" style="margin-top:10px;">
					<a ng-click="markPostSubmit()" href="javascript:void(0);">
						<div class='blueButton' style="float:left">
							Mark as Posted
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<!--store view states-->
		<div ng-if="storeEditView">
			<form serializer="postFormSubmit(data)">	
			
				<div class="row postContent">
					<div class="col-md-12">
						<div class='input'>
							<div class='inputLabel'>Post Content</div>
							<div ckeditor="options" ng-model="SinglePost.socialMediaContent"></div>
						</div>
					</div>
				</div>
				<input type="hidden" name="hiddenSocialMediaContent" value="{{SinglePost.socialMediaContent}}" />
				<input type="hidden" name="hiddenSocialMediaType" value="{{SocialMediaType}}" />
				<div class="row">
					<div class="col-md-12">
						<div class='input'>
							<textarea name="socialMediaKeyWords" ng-model="SinglePost.socialMediaKeyWords" placeholder="i.e. #siddillon, #cars"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class='input'>
							<input type="submit" value="Save Post" class='blueButton' />
						</div>
					</div>
				</div>
			</form>		
		</div>				
	</div>

	
</div>
