<div class="container">
	<div class="row breadCrumbSeciton" style="margin-bottom:20px;">
		<div class='col-md-12'>
			<a href='#/admin/' style='text-decoration:underline;'>Dashboard</a> <i class="fa fa-caret-right" aria-hidden="true"></i> <strong>Store:</strong> {{storeName}}
		</div>
	</div>
	<div class="row singleStoreProgressBar">
		<div class="col-md-11">
			<div class="progressBar">
				<div ng-style="{'width': currentProgress + '%'}" class="progressContentBar {{currentProgress | ProgressBarColor}}"></div>
			</div>
		</div>
		<div class="col-md-1 currentProgressText">{{ currentProgress}}%</div>
	</div>
	<div class="row headerDivider" style="margin-left: 0px; margin-right: 0px;">
		<div class='col-md-6' style='padding-left:0px;'>
			<div class="header">
				Your Weekly to do list	
			</div>
		</div>		
		<div class='col-md-6 currentWeek' style='padding-right:0px;'>
			{{weeklyText}}
		</div>
	</div>
	<div class="row postContent" style="margin-top:0px;">
		<div class="col-md-4">
			<div class="row" style="margin-bottom: -10px;">
				<div class="col-md-6">
					<div class='contentHeader'><img src="public/images/facebookIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{completedFacebook}} / {{totalFacebookPosts}}</div>		
				</div>
				<div class="col-md-6">
					<a href="#/admin/post/facebook/add/{{storeID}}">
						<div class='greenButton ToDoButton'><i class="fa fa-pencil" uib-tooltip="Submit Facebook Post" tooltip-placement="bottom" aria-hidden="true"></i></div>
					</a>
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedFacebookPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/your-post/{{x.socialID}}" style='float: left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
				
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="row"  style="margin-bottom: -10px;">
				<div class="col-md-6">
					<div class='contentHeader'><img src="public/images/twitterIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{completedTwitter}} / {{totalTwitterPosts}}</div>		
				</div>
				<div class="col-md-6">
					<a href="#/admin/post/twitter/add/{{storeID}}">
						<div class='greenButton ToDoButton'><i class="fa fa-pencil" uib-tooltip="Submit Twitter Post" tooltip-placement="bottom" aria-hidden="true"></i></div>
					</a>
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedTwitterPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/your-post/{{x.socialID}}" style='float: left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row"  style="margin-bottom: -10px;">
				<div class="col-md-6">
					<div class='contentHeader'><img src="public/images/blogIcon.png" style='margin-top: -5px; margin-right: 5px;' /> {{completedBlogPosts}} / {{totalBlogPosts}}</div>		
				</div>
				<div class="col-md-6">
					<a href="#/admin/post/blog/add/{{storeID}}">
						<div class='greenButton ToDoButton'><i class="fa fa-pencil" uib-tooltip="Submit Blog Post" tooltip-placement="bottom" aria-hidden="true"></i></div>
					</a>
				</div>
			</div>
			<div class="row" ng-repeat="x in SubmittedBlogPosts">
				<div style="border-top:1px solid #e9e9e9; margin: 10px 15px 10px 15px;"></div>
				<div class="col-xs-6">
					<a href="#/admin/your-post/{{x.socialID}}" style='float:left;'>
						 View
					</a>
					<div class="isDeclinedIndicator" uib-tooltip="Declined" tooltip-placement="bottom" ng-show="x.isDeclined == 1"></div>
					<div class="isApprovedIndicator" uib-tooltip="Approved" tooltip-placement="bottom" ng-show="x.isApproved == 1"></div>
					<div class="isPostedIndicator" uib-tooltip="Posted" tooltip-placement="bottom" ng-show="x.isPosted == 1"></div>
				</div>
				<div class="col-xs-6" style='text-align:right'>
					{{x.submittedDate | date:'mediumDate'}}<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Submitted by {{x.firstName}} {{x.lastName}}" tooltip-placement="bottom" style='margin-top: -5px' /></span>
				</div>
			</div>
		</div>
	</div>
</div>
