<div class="container-fluid">
	<div class="row">
		<div class='col-md-12'>
			<div class="headerDivider">
				<div class="header">
					Social Media Posts
				</div>	
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class='contentHeader'>New Posts</div>
			<div ng-repeat="x in NewPostsList">
				<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='text-decoration:none;'>		
					<div class="postSingleElement">
						<div class="urgentIndicator" ng-if="x.isUrgent == 1">
							Urgent - Post By {{x.isUrgentDate | date:'mediumDate'}}
						</div>
						<div class="row">
						
							<div class="col-md-2 Content" style='text-align:center'>
								<img src="public/images/facebookIcon.png" ng-show="{{x.socialMediaType == 1}}" />
								<img src="public/images/twitterIcon.png" ng-show="{{x.socialMediaType == 2}}" />
								<img src="public/images/blogIcon.png" ng-show="{{x.socialMediaType == 3}}" />
							</div>
							<div class="col-md-10 Content">
								<strong>Submitted By:</strong> {{x.firstName}} {{x.lastName}} - {{x.submittedDate | date:'mediumDate'}}<br />
								{{x.name}}
							</div>
						</div>	
					</div>
				</a>
			</div>
			
		</div>
		<div class="col-md-3">
			<div class='contentHeader'>Approved</div>
			<div ng-repeat="x in ApprovedPostsList">
				<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='text-decoration:none;'>		
					<div class="postSingleElement approvedPost">
						<div class="urgentIndicator" ng-if="x.isUrgent == 1">
							Urgent - Post By {{x.isUrgentDate | date:'mediumDate'}}
						</div>
						<div class="row">
						
							<div class="col-md-2 Content" style='text-align:center'>
								<img src="public/images/facebookIcon.png" ng-show="{{x.socialMediaType == 1}}" />
								<img src="public/images/twitterIcon.png" ng-show="{{x.socialMediaType == 2}}" />
								<img src="public/images/blogIcon.png" ng-show="{{x.socialMediaType == 3}}" />
							</div>
							<div class="col-md-10 Content">
								<strong>Submitted By:</strong> {{x.firstName}} {{x.lastName}} - {{x.submittedDate | date:'mediumDate'}}<br />
								{{x.name}}
							</div>
						</div>	
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class='contentHeader'>Declined</div>
			<div ng-repeat="x in DeclinedPostsList">
				<a href="#/admin/marketing/postSingle/{{x.socialID}}" style='text-decoration:none;'>		
					<div class="postSingleElement declinedPost">
						<div class="urgentIndicator" ng-if="x.isUrgent == 1">
							Urgent - Post By {{x.isUrgentDate | date:'mediumDate'}}
						</div>
						<div class="row">
						
							<div class="col-md-2 Content" style='text-align:center'>
								<img src="public/images/facebookIcon.png" ng-show="{{x.socialMediaType == 1}}" />
								<img src="public/images/twitterIcon.png" ng-show="{{x.socialMediaType == 2}}" />
								<img src="public/images/blogIcon.png" ng-show="{{x.socialMediaType == 3}}" />
							</div>
							<div class="col-md-10 Content">
								<strong>Submitted By:</strong> {{x.firstName}} {{x.lastName}} - {{x.submittedDate | date:'mediumDate'}}<br />
								{{x.name}}
							</div>
						</div>	
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class='contentHeader'>Posted</div>
			<div ng-repeat="x in PostedPostsList">
				<a href="#/admin/marketing/postSingle/{{x.socialID}}">		
					<div class="postSingleElement">
						<div class="row">
						
							<div class="col-md-2 Content" style='text-align:center'>
								<img src="public/images/facebookIcon.png" ng-show="{{x.socialMediaType == 1}}" />
								<img src="public/images/twitterIcon.png" ng-show="{{x.socialMediaType == 2}}" />
								<img src="public/images/blogIcon.png" ng-show="{{x.socialMediaType == 3}}" />
							</div>
							<div class="col-md-10 Content">
								<strong>Submitted By:</strong> {{x.firstName}} {{x.lastName}} - {{x.submittedDate | date:'mediumDate'}}<br />
								{{x.name}}
							</div>
						</div>	
					</div>
				</a>
			</div>
		</div>
	</div>	
</div>
