<div class="container">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			<a href="{{breakCrumbSocialMediaLink}}" style='text-decoration:underline;'>{{socialMediaListText | capitalize}}</a>
			<i class="fa fa-caret-right" aria-hidden="true"></i>{{postState | capitalize}} Post
		</div>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div class="header headerDivider">
				{{PostSingleHeader}}
			</div>
		</div>		
	</div>
	
	<div class="row pageMessage" ng-show="showMessage">
		<div class="col-md-12">
			<div class='loadingSpinner' ng-show="loadingFinal">
				<img src="public/images/ajax-loader.gif" />
			</div>
			<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
				{{errorMessage}}
			</div>
		</div>
	</div>
	
	<div style='margin-top:20px;'>
		<div class="row">
			<div class="col-md-12 socialMediaPostType">
				<img ng-src="{{socialMediaIcon}}" />
			</div>
		</div>
		
		
		<form serializer="postFormSubmit(data)">	
			<div class="row">
				<div class="col-md-12">
					<div class="input">
						<div class='inputLabel'>Is this Post Urgent? (Enter the required post date below)</div>
						<input type="text" name="socialMediaIsUrgent" ng-model="SinglePost.isUrgentDate" placeholder='MM/DD/YYYY'>
					</div>
				</div>
			</div>
				
			<div class="row postContent">
				<div class="col-md-12">
					<div class='input'>
						<div class='inputLabel'>Post Content</div>
						<div ckeditor="options" ng-model="SinglePost.socialMediaContent"></div>
					</div>
				</div>
			</div>
			<input type="hidden" name="hiddenSocialMediaContent" value="{{SinglePost.socialMediaContent}}" />
			<input type="hidden" name="hiddenSocialMediaType" value="{{SocialMediaType}}" />
			<div class="row">
				<div class="col-md-12">
					<div class='input'>
						<textarea name="socialMediaKeyWords" ng-model="SinglePost.socialMediaKeyWords" placeholder="i.e. #siddillon, #cars"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class='input'>
						<input type="submit" value="Save Post" class='blueButton' />
					</div>
				</div>
			</div>
		</form>		
				
	</div>

	
	
	
	

	
	
	

	<div ng-show="showViewOnlyPost">
		<div class="row">
			<div class="col-md-12 socialMediaPostType" style="margin-top:10px;">
				<img ng-src="{{socialMediaIcon}}" />{{socialMediaType}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 postContentSubmission">
				<div class="contentLabel">Post Content</div>
				<div ng-bind-html="PostContent"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				{{KeyWords}}
			</div>
		</div>
	</div>
	
</div>
