<div class="container">
	<div class="row breadCrumbSeciton" ng-hide="HideBreadCrumbs">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a> <i class="fa fa-caret-right" aria-hidden="true"></i></span><a href="#/admin/{{SocialMediaSingle.RelatedStoreID}}/your-to-do-list"  style='text-decoration:underline;'>Social Media List</a><i class="fa fa-caret-right" aria-hidden="true"></i>View Post
		</div>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div class="header headerDivider">
				View Submitted Post 
			</div>
		</div>		
		
	</div>

	<div style='margin-top:20px;'>
		<div class="row">
			<div class="col-md-12 socialMediaPostType">
				<img src="public/images/facebookIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 1}}" />
				<img src="public/images/twitterIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 2}}" />
				<img src="public/images/blogIcon.png" ng-show="{{SocialMediaSingle.socialMediaType == 3}}"> Submitted By {{SocialMediaSingle.SubmittedByFullName}} / {{SocialMediaSingle.submittedDate | date:'mediumDate'}}
			</div>
		</div>
		
		
		<div ng-show="ShowIsPostedIndicator">
			<div class="row">
				<div class="col-md-12">
					<div class="alert-info alert">
						<div class="row">
							<div class="col-md-12">
								<div class="contentLabel">Posted On</div>	
								<div ng-if="SocialMediaSingle.isPostedDate">
									{{SocialMediaSingle.isPostedDate | date:'mediumDate'}}	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="showStatusPostSection">
			<div class="row" style="margin-bottom:10px;">
				<div class="col-md-12">
					<div class="{{alertColor}} alert">
						<div class="row">
							<div class="col-md-6">
								<div class="contentLabel">{{SocialMediaSingle.StatusText}} By</div>	
								{{SocialMediaSingle.ApprovedDeclinedByFullName}} / {{SocialMediaSingle.ApprovedDeclinedDate | date:'mediumDate'}}	
							</div>
							<div class="col-md-6" ng-show="ShowDeclinedNotes">
								<div class="contentLabel">Reason</div>
								{{SocialMediaSingle.isDeclinedNotes}}<br />
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 postContentSubmission">
				<div class="contentLabel">Post Content</div>
				<div ng-bind-html="PostContent"></div>
			</div>
		</div>
			
		<div class="row" ng-if="SocialMediaSingle.KeyWords">
			<div class="col-md-12">
				<div class="contentLabel">Keywords</div>
				{{SocialMediaSingle.KeyWords}}
			</div>
		</div>
		

		
		
	</div>

	
</div>
