<!DOCTYPE html>
<!--[if IE 7]>     <html class="ie7" xml:lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="ie8" xml:lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="ie9" xml:lang="en"> <![endif]-->
<!--[if gt IE 10]> <html xml:lang="en"> <![endif]-->
<!--[if !IE]><!--> <html xml:lang="en" ng-app="SidDillonIntranet" ng-controller="mainAppCtrl"> <!--<![endif]-->
	<head>
		<title ng-bind="title"></title>
		
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		
		<link rel="icon" href="public/images/favicon.png" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta http-equiv="X-UA-Compatible" content="IE=11" />
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="public/css/style.css" type="text/css" />
		
		<link rel="stylesheet" ng-href="public/css/{{ controllerCssFile }}.css" />
	
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js" type="text/javascript"></script>		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js" type="text/javascript"></script>
		<script src="public/js/mask.js" type="text/javascript" type="text/javascript"></script>


		<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
		<script src="public/js/angular-ckeditor.min.js" type="text/javascript"></script>
		<script src="public/js/ui-bootstrap-tpls-2.2.0.min.js" type="text/javascript"></script>		
		
		<script src="public/js/Globals.js" type="text/javascript" type="text/javascript"></script>
		<script src="public/js/ConfigRouting.js" type="text/javascript" type="text/javascript"></script>
		<script src="public/js/Controllers.js" type="text/javascript" type="text/javascript"></script>
		<script src="public/js/Services.js" type="text/javascript" type="text/javascript"></script>
		<script src="public/js/Filter.js" type="text/javascript" type="text/javascript"></script>
		<script src="public/js/Directives.js" type="text/javascript" type="text/javascript"></script>
				
		
		<script src="https://cdn.rawgit.com/angular/bower-material/v0.8.3-master-f62fd48/angular-material.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://cdn.rawgit.com/angular/bower-material/v0.8.3-master-f62fd48/angular-material.css" type="text/css" />
		
		
		<script type="text/javascript"> 
			document.createElement("header");
			document.createElement("footer");
		</script>
	</head>
<body>

<div ng-include src="headerContent"></div>

<route-loading-indicator></route-loading-indicator>
<div ng-if="!isRouteLoading" ng-view class='ViewAnimate' ng-class="IntranetLoginContent ? 'ContentPush' : ''"></div>

<div ng-include='"shared/footer.html"'></div>	

</body>	
</html>

