<div class='row'>
	<div class='col-md-12 contentHeader'>
		User Permissions
	</div>
</div>
<div class="row">
	<div class="col-md-12">		
		<table>
			<tr>
				<td>
											
				</td>
				<td style="text-align:center;" ng-repeat='x in storesList'>{{x.name}}</td>
			</tr>
			<tr class="alternate">
				<td style="font-weight:bold">Marketing</td>
				<td style="text-align:center;" ng-repeat='x in storesList'>
					<input type="checkbox" name="storeID{{x.id}}Marketing" ng-checked="getMarketingValue({{x.id}})" />
					<input type="hidden" name="hiddenMarketingStoreIDPermission[]" value="{{x.id}}" />
				</td>
			</tr>
			<tr ng-show="showReferralPermissions">
				<td style="font-weight:bold">Referral</td>
				<td style="text-align:center;" ng-repeat='x in storesList'>
					<input type="checkbox" ng-show="{{x.isReferralClubStore}} == 1" name="storeID{{x.id}}Referral" ng-checked="getReferralValue({{x.id}})" />
					<input type="hidden" name="hiddenReferralStoreIDPermission[]" value="{{x.id}}" />
				</td>
			</tr>
			<tr ng-show="showReferralPermissions" class="alternate">
				<td style="font-weight:bold">Referral Admin</td>
				<td style="text-align:center;" ng-repeat='x in storesList'>
					<input type="checkbox" ng-show="{{x.isReferralClubStore}} == 1" name="storeID{{x.id}}ReferralAdmin"  ng-checked="getReferralAdminValue({{x.id}})" />
					<input type="hidden" name="hiddenReferralAdminStoreIDPermission[]" value="{{x.id}}" />
				</td>
			</tr>
		</table>
	</div>
</div>