<div class="row">
	<div class="col-md-6">
		<div class='input'>
			<div class='inputLabel'>Username</div>
			<input type='text' name="userNameLogin" ng-model="UserSingle.userNameLogin" />
		</div>
	</div>
	<div class="col-md-6">
		<div class='input'>
			<div class='inputLabel'>Password</div>
			<input type='password' name="userPassword" ng-model="UserSingle.userPassword" />
		</div>
	</div>
</div>	