<div class='row'>
	<div class='col-md-12 contentHeader'>
		User Settings
	</div>	
</div>
<div class='row'>
	<div class='col-md-12'>
		<input type='hidden' name='emailNotifications' value='0' />
		<input type="checkbox" name="emailNotifications" ng-model="UserSingle.emailNotifications" ng-checked="receivingNotificaitons" style='float:left; margin-right:3px;' />Receive Marketing Notifications
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<input type="hidden" name="referralUser" value="0" />
		<input type="checkbox" name="referralUser" ng-model="UserSingle.referralUser" ng-checked="isReferralUser" style='float:left; margin-right:3px;' />Referral Salesman
	</div>
</div>