<div class="row" ng-show="showLostFormData" style="border-bottom:1px solid #f4f4f4">
	<div class="pageMessage" ng-show="showLostDataMessage" style="margin-left: 15px; margin-right: 15px;">
		<div class="loadingSpinner" ng-show="loadingLostData">
			<img src="public/images/ajax-loader.gif">
		</div>
		<div ng-class="showLostSuccess ? 'alert-success' : 'alert-danger'" class='text alert ' style="margin-bottom:0px;">
			<div ng-bind-html="LostDataMessage"></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="contentHeader">
			Lost Reason (Customer will be emailed on what is entered in this form)
		</div>
		<form serializer="lostDataEntered(data)">
			<div class="input">
				<textarea name="lostNotes" ng-model="LostNotes"></textarea>
			</div>
			<div class="input">
				<input type="submit" value="{{LostNotesSubmit}}" class="greenButton"  />
			</div>	
		</form>
	</div>
</div>