<div ng-show="ShowLostSection" style="border-bottom:1px solid #f4f4f4">
	<div class="referralInformation">
		<div class="row">
			<div class="col-md-12">
				<div class="contentHeader" style="margin-bottom: 5px;">
					<span style="color:#c30000; margin-right:5px;"><i class="fa fa-times-circle" aria-hidden="true"></i></span>Referral Lost Reason (Customer has been emailed about the status of their referral)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ReferralObject.LostNotes}}
			</div>
		</div>			
	</div>
</div>
