<div class="row" ng-show="ShowWarningBar">
	<div class="col-md-12">
		<div class="text alert alert-danger" style="margin: 15px 0px 0px 0px;">
			<div style="text-align: center; font-size: 20px; border-bottom: 1px solid #eabebd; padding-bottom: 10px; margin-bottom: 10px; margin:0px -15px 10px -15px"><strong>WARNING!</strong></div>
			<div ng-show="isReferralMessage">
				- This referral has some relation to Sid Dillon	
			</div>
			<div ng-show="isReferralMember">
				- This member has some relation to Sid Dillon
			</div>
		</div>
	</div>
</div>