<div ng-show="MarkAsPaidPopup">
	<div class="Overlay"></div>
	<div class="PopupForm">
		<div class="header">
			Mark as Paid
			<div class="closeBtn" ng-click="hideMarkAsPaidPopup()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content">
			<div class="row pageMessage" style="margin:0px; padding: 0px 0px 5px 0px;" ng-show="showPaidMessage">
				<div class="col-md-12" style="padding: 0px;">
					<div class="loadingSpinner" ng-show="loadingPaid">
						<img src="public/images/ajax-loader.gif">
					</div>
					<div style="color:#c30000">
						{{paidMessage}}
					</div>
				</div>
			</div>
			
			
			<form serializer="markAsPaidForm(data)">
				<div class="row">
					<div class="col-md-12">
						<div class="input">
							<div class="inputLabel">Notify Member?</div>
							<div><input type="radio" name="NotifyUser" value="1" /> Yes</div>
							<div><input type="radio" name="NotifyUser" value="0" /> No</div>
						</div>
						<div class="input" style="margin-bottom:0px;">
							<input type="submit" value="Pay Member" class="greenButton">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>