<div class="row" ng-show="ShowSoldInfoForm" style="border-bottom:1px solid #f4f4f4">
	<div class="pageMessage" ng-show="showSoldDataMessage" style="margin-left: 15px; margin-right: 15px;">
		<div class="loadingSpinner" ng-show="loadingSoldData">
			<img src="public/images/ajax-loader.gif">
		</div>
		<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert ' style="margin-bottom:0px;">
			<div ng-bind-html="soldDateMessage"></div>
		</div>
	</div>
	<form serializer="soldDataEntered(data)">
		<div class="col-md-6">
			<div class="contentHeader">
				Sale Data
			</div>
			<div class="input">
				<div class="inputLabel">Deal #</div>
				<input type="text" name="dealNumber" ng-model="dealNumber" />
			</div>
			<div class="input">
				<div class="inputLabel">Sold Stock #</div>
				<input type="text" name="soldStockNumber" ng-model="soldStockNumber" />
			</div>
			<div class="input">
				<div class="inputLabel">Sold Date</div>
				<input type="text" name="soldDate" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" ng-model="soldDate" />
			</div>		
			<div class="input">
				<input type="submit" value="{{SaveSoldDataButton}}" class="greenButton" />
			</div>
		</div>			
	</form>
</div>