<div ng-show="ShowReadOnlySalesComments" class="referralInformation">
	<div class="row">
		<div class="col-md-12">
			<div class="contentHeader" style="margin-bottom: 5px;">
				Sales Comments (Internal Use only. Not Seen by customer.)
			</div>
		</div>
	</div>			
	<div class="row">
		<div class="col-md-12">
			<div ng-if="SalesCommentsReadOnly">
				{{ReferralObject.SaleComments}}	
			</div>
			<div ng-if="!SalesCommentsReadOnly">
				There are no sale comments entered	
			</div>
		</div>
	</div>
</div>