<div ng-show="ShowSoldDateSection" class="referralInformation" style="border-bottom:1px solid #f4f4f4">
	<div class="row">
		<div class="col-md-12">
			<div class="contentHeader">
				<span style="margin-right:5px;    color: #079622;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>Sale Data Deal Reference
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<table style="width:auto;">
				<tr>
					<td style="padding:0px 0px 5px 0px;">Deal #:</td>
					<td style="padding:0px 0px 5px 10px;">{{ReferralObject.dealNumber}}</td>
				</tr>
				<tr>
					<td style="padding:0px 0px 5px 0px;">Sold Stock #:</td>
					<td style="padding:0px 0px 5px 10px;">{{ReferralObject.soldStockNumber}}</td>
				</tr>
				<tr>
					<td style="padding:0px 0px 5px 0px;">Sold Date:</td>
					<td style="padding:0px 0px 5px 10px;">{{ReferralObject.isSoldDate | date:'mediumDate'}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>