<div class="row">
	<div class="col-md-12 ReferralStatusContainer">
		<div class="StatusContainer {{ReferralObject.Status | ReferralStatusTextColor}}">
			<span style="color:black">Current Status:</span> {{ReferralObject.Status | ReferralStatusText}} 
		</div>
		<div ng-show="ShowReopenReferralButton">
			<a href="javascript:void(0)" ng-click="reopenReferralStatus()">
				<div class="whiteButton" style="float:left; margin-bottom: 10px;" uib-tooltip="This will reset the referral status to 'Active'" tooltip-placement="bottom">
					<i class="fa fa-folder-open" aria-hidden="true" style="margin-right:5px;"></i> Re-open Referral	
				</div>	
			</a>
			
			<div style="clear:both"></div>
		</div>
		
		<table style="width:auto;">
			<tr>
				<td style="padding:0px 0px 5px 0px;">Submitted:</td>
				<td style="padding:0px 0px 5px 10px;">{{ReferralObject.submittedDate | date:'mediumDate'}}</td>
			</tr>
			<tr>
				<td style="padding:0px 0px 5px 0px;">Age:</td>
				<td style="padding:0px 0px 5px 10px;">{{getCurrentAge()}} Days Old</td>
			</tr>
			
			<tr>
				<td style="padding:0px 0px 0px 0px;">ID:</td>
				<td style="padding:0px 0px 0px 10px;">RF{{ReferralObject.referralID}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row alternate referralInformation">
	<div class="col-md-6">
		<div class="contentHeader">
			Referral Info.
		</div>
		<div style="margin-bottom:20px;">
			{{ReferralObject.FirstName}} {{ReferralObject.LastName}}<br />
			{{ReferralObject.referralSinglePhone | tel}}<br />
			{{ReferralObject.referralSingleEmail}}				
		</div>
		<div class="miscReferralLine">
			<div class="icon">
				<i class="fa fa-car" aria-hidden="true"></i>
			</div>
			{{ReferralObject.DesiredVehicle}}<span style="margin-left:5px;"><img src="public/images/ToolTipHelp.png" style="width: 15px;" uib-tooltip="Desired Vehichle" tooltip-placement="right"></span>	
			<div style="clear:both"></div>
		</div>
		<div class="miscReferralLine" style="margin-bottom:0px;">
			<div class="icon">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			</div>
			{{ReferralObject.expectedDatePurchase | date:'mediumDate'}}<span style="margin-left:5px;"><img src="public/images/ToolTipHelp.png" style="width: 15px;" uib-tooltip="Expected Date of Purchase" tooltip-placement="right"></span>
			<div style="clear:both"></div>
		</div>
		<div ng-show="showNotes" style="margin-top:10px;">
			<div class="contentHeader" style="margin-bottom: 0px;">
				Customer Comments
			</div>
			{{ReferralObject.notes}}
		</div>
		<div ng-show="Salesman">
			<div class="contentHeader" style="margin-bottom: 0px;">
				Salesperson
			</div>
			<div ng-show="ShowSalesManEdit">
				<select name="salesmanSelect" ng-model="referralSalesman" ng-change="saveSalesMan(referralSalesman)">
					<option value="0">Please Select</option>
					<option ng-repeat="x in StoreSalesman" value="{{x.userID}}" ng-selected="{{x.userID}} == CurrentSalesman" >{{x.firstName}} {{x.lastName}}</option>
				</select>
				{{SavedMessage}}
			</div>
			<div ng-hide="ShowSalesManEdit">
				{{Salesman}}
			</div>
		</div>

	</div>
	<div class="col-md-6">
		<div class="contentHeader">
			Submitted By Details.
		</div>
		{{ReferralObject.memberFirstName}} {{ReferralObject.memberLastName}}<br />
		SD{{ReferralObject.memberID}}<br />
		{{ReferralObject.ReferralSubmittedIP}}
		<div ng-show="ShowMarkAsPaidBtn" style="margin-top:10px;">
			<a href="javascript:void(0);" ng-click="MarkAsPaid()">
				<div style="float:left" class="greenButton">
					Mark as Paid
				</div>
			</a>
		</div>
		<div ng-show="ShowReferralCount" style="margin-top:10px;">
			Success Referral Number: <strong>{{ReferralObject.referralWinnerCount}}</strong> - ${{CurrentAmountEarned}}
		</div>
		
		
	</div>
</div>