<div ng-controller="AdminDashboardController">
	<div class="container">
		<div class="row headerDivider" style="margin-left: 0px; margin-right: 0px;">
			<div class='col-md-6' style="padding-left: 0px;">
				<div class="header">
					Store Weekly Marketing	
				</div>
			</div>		
			<div class='col-md-6 currentWeek' style="padding-right: 0px;">
				{{weeklyText}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table>
					<tr ng-repeat='x in StoreList' ng-class-even="'alternate'">
						<td><a href='#/admin/{{ x.id }}/store-weekly-to-do-list'>{{ x.name }}</a></td>
						<td class='percentageNumber'>{{ x.TotalSubmittedContent }}%</td>
						<td class='progressBarTD'>
							<div class="progressBar">
								<div style="width:{{x.TotalSubmittedContent}}%"class="progressContentBar {{ x.TotalSubmittedContent | ProgressBarColor}}"></div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" style="margin-top:20px;">
		<div class="row">
			<div class="col-md-12">
				<div class="headerDivider">
					<div class="header">
						Referral Stores<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="{{ReferralToolTipText}}" tooltip-placement="top" /></span>
					</div>						
				</div>
			</div>
		</div>
		<div class="row" ng-show="ReferralStores.length">
			<div class="col-md-12">
				<table>
					<tr>
						<td>
							
						</td>
						<td>
							Active
						</td>
						<td>
							Sold
						</td>
						<td>
							Paid
						</td>
						<td>
							Inactive
						</td>
						<td style="text-align:right">Total Payout</td>
					</tr>
					<tr ng-repeat='x in ReferralStores' ng-class-even="'alternate'">
						<td><a href='#/admin/{{ x.id }}/referral'>{{ x.name }}</a></td>
						<td>
							{{x.ActiveCount}}
						</td>
						<td>
							{{x.SoldCount}}
						</td>
						<td>
							{{x.PaidCount}}
						</td>
						<td>
							{{x.InactiveCount}}
						</td>
						<td style="text-align: right;">
							${{x.totalSum}}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row" ng-hide="ReferralStores.length">
			<div class="col-md-12" style="margin-top:10px;">
				There are no referrals entered	
			</div>
			
		</div>
		
	</div>
	
</div>





