<div class="container" id="ReferralSumarySingle">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i></span><a href="#/admin/{{storeID}}/referral" style='text-decoration:underline;'>Referral Summary</a><i class="fa fa-caret-right" aria-hidden="true"></i>{{MonthSelected | capitalize}} Referrals
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				{{MonthSelected | capitalize}} Referrals | {{CurrentYear}}
			</div>
		</div>		
	</div>
	<div class="row" style="margin-top:15px;" ng-show="Referrals.length">
		<table>
			<tr>
				<td></td>
				<td style='font-weight:bold'>Referred Person</td>
				<td style='font-weight:bold'>Submitted</td>
				<td style='font-weight:bold'>Member</td>
				<td style='font-weight:bold'>Age</td>
				<td style='font-weight:bold'>Sold Date</td>
			</tr>
			<tr ng-repeat='x in Referrals | pagination: curPage * pageSize | limitTo: pageSize' ng-class-even="'alternate'">
				<td style="width: 10px; padding-right:0px;">
					<div class="statusIndicator {{ '4' | ReferralStatus}}" ng-show="x.referralSidDillonRelation == 1" uib-tooltip="Warning" tooltip-placement="bottom"></div>
					<div class="statusIndicator {{ x.Status | ReferralStatus}}" ng-show="x.referralSidDillonRelation == 0" uib-tooltip="{{ x.Status | ReferralStatusText}}" tooltip-placement="bottom"></div>
				</td>
				<td>
					<a href="#admin/{{storeID}}/referrals/{{MonthSelected}}/{{x.referralID}}/view/admin" style='text-decoration:underline'>{{x.FirstName}} {{x.LastName}}</a>
				</td>
				<td>{{x.submittedDate | date:'mediumDate'}}</td>
				<td>{{x.firstName}} {{x.lastName}}</td>
				<td>+{{calculateAge(x.submittedDate, x.submittedTime)}} Days</td>
				<td>{{x.isSoldDate | date:'mediumDate'}}</td>
			</tr>
		</table>
	</div>
	<div class="row" style="margin-top:15px;" ng-hide="Referrals.length">
		<div class="col-md-12">
			There are no referrals entered for {{MonthSelected | capitalize}}.	
		</div>	
	</div>
	
	<div class="row paginationCOntent" ng-show="Referrals.length">
		<div class="col-md-12">
			<ul>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage >= Referrals.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
				</li>
			</ul>				
		</div>
	</div>
	
	
</div>