<div class="container" id="ReferralSumarySingle">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i></span><a href="{{breakCrumbSocialMediaLink}}" style='text-decoration:underline;'></a> {{storeName}}
		</div>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div class="headerDivider">
				<div class="header">
					Referral Summary: {{storeName}}
				</div>	
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12" style="margin-top:10px; font-size: 24px;">
			Referrals By Month<img src="public/images/ToolTipHelp.png" uib-tooltip="Dollar amount based on total payout during the current year: Jan, 1 {{currentYear}} - Dec, 31 {{currentYear}}" style='margin-left:3px;' tooltip-placement="right">
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/january" uib-tooltip="View all referrals in January" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">January</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{JanuaryPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(JanuaryCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/february" uib-tooltip="View all referrals in Febraury" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">February</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{FebruaryPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(FebruaryCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/march" uib-tooltip="View all referrals in March" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">March</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{MarchPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(MarchCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/april" uib-tooltip="View all referrals in April" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">April</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{AprilPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(AprilCount)}}
			</div>
		</diV>
	</div>
	<div class="row">
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/may" uib-tooltip="View all referrals in May" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">May</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{MayPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(MayCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/june" uib-tooltip="View all referrals in June" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">June</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{JunePayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(JuneCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/july" uib-tooltip="View all referrals in July" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">July</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{JulyPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(JulyCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/august" uib-tooltip="View all referrals in August" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">August</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{AugustPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(AugustCount)}}
			</div>
		</diV>
	</div>
	<div class="row">
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/september" uib-tooltip="View all referrals in September" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">September</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{SeptemberPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(SeptemberCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/october" uib-tooltip="View all referrals in October" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">October</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{OctoberPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(OctoberCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/november" uib-tooltip="View all referrals in November" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">November</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{NovemberPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(NovemberCount)}}
			</div>
		</diV>
		<div class='col-md-3 referralMontElement'>
			<a href="#/admin/{{storeID}}/referrals/december" uib-tooltip="View all referrals in December" tooltip-placement="bottom">
				<div class="ReferralMonthLink">
					<div class="infoIcon">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="monthLinkHeader">December</div>
					<div class="PayoutTotal"><span class='dollar'>$</span>{{DecemberPayout}}</div>
				</div>
			</a>
			<div class="monthlyCountElement">
				{{ReferralCount(DecemberCount)}}
			</div>
		</diV>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div class="totalPayout" style="text-align:right">
				<span class='totalPayoutText'>Total Payout:</span>${{TotalPayoutByYear}}	
			</div>
			
		</div>
	</div>
	
</div>