<div ng-controller="NonAdminDashboardController">
	<!--Their Store To do lists!-->
	<div ng-show="ShowToDoLists">
		<div class="container">
			<div class="row headerDivider" style='margin-left:0px; margin-right:0px;'>
					<div class='col-md-6' style='padding-left:0px;'>
						<div class="header">
							Your Weekly To Do List(s)	
						</div>
					</div>		
					<div class='col-md-6 currentWeek' style='padding-right:0px;'>
						{{weeklyText}}
					</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table>
						<tr ie-select-fix ng-repeat='x in StoreList' ng-class-even="'alternate'">
							<td><a href='#/admin/{{ x.id }}/your-to-do-list'>{{ x.name }}</a></td>
							<td class='percentageNumber'>{{ x.TotalSubmittedContent }}%</td>
							<td class='progressBarTD'>
								<div class="progressBar">
									<div ng-style="{'width': x.TotalSubmittedContent + '%'}" class="progressContentBar {{ x.TotalSubmittedContent | ProgressBarColor}}"></div>
								</div>
							</td>
						</tr>
					</table>	
				</div>
				
			</div>
		</div>		
	</div>
	
	<div ng-show="ShowReferralStores">
		<div class="container" style="margin-top:20px;">
			<div class="row headerDivider">
				<div class="col-md-12">
					<div class="header">
						Referral Stores<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="{{ReferralToolTipText}}" tooltip-placement="top" /></span>
					</div>	
				</div>
			</div>
			<div class="row">
				<table>
					<tr>
						<td>
							
						</td>
						<td>
							Active
						</td>
						<td>
							Sold
						</td>
						<td>
							Paid
						</td>
						<td>
							Inactive
						</td>
						<td style="text-align:right">Total Payout</td>
					</tr>
					<tr ng-repeat='x in ReferralStores' ng-class-even="'alternate'">
						<td><a href='#/admin/{{ x.id }}/your-referrals'>{{ x.name }}</a></td>
						<td>
							{{x.ActiveCount}}
						</td>
						<td>
							{{x.SoldCount}}
						</td>
						<td>
							{{x.PaidCount}}
						</td>
						<td>
							{{x.InactiveCount}}
						</td>
						<td style="text-align: right;">
							${{x.totalSum}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div ng-show="ShowNonReferralAdmin">
		<div class="container" style="margin-top:20px;">
			<div class="row headerDivider">
				<div class="col-md-12">
					<div class="header">
						Your Referrals<span style='margin-left:5px;'><img src="public/images/ToolTipHelp.png"  uib-tooltip="Referrals based on current year: Jan 1, {{CurrentYear}} - Dec 31, {{CurrentYear}}" tooltip-placement="top" /></span>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style='font-size:16px; margin: 10px 0px;'>
					<a href='#/admin/your-individual-referrals'>View</a> ({{ReferralCount}})
				</div>
			</div>
			
			
		</div>
	</div>

</div>