<div class="container ng-scope">
	<div class="row">
		<div class="col-md-12">
			<div class="header headerDivider">
				Create Report
			</div>			
		</div>
	</div>
	<form serializer="referralReportingCreate(data)">
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class="loadingSpinner" ng-show="loadingFinal">
					<img src="public/images/ajax-loader.gif" />
				</div>
				<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class="text alert" style="margin-bottom:0px;">
					{{errorMessage}}
				</div>
			</div>
		</div>	
		<div class="row" style="padding-top: 15px;">
			<div class="col-md-4">
				<div class="input">
					<div class="inputLabel">Start Date</div>
					<input type="text" ng-model="reportingStartDate" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" name="reportingStartDate">
				</div>
			</div>
			<div class="col-md-4">
				<div class="input">
					<div class="inputLabel">End Date</div>
					<input type="text" ng-model="reportingEndDate" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" name="reportingEndDate">
				</div>
			</div>
			<div class="col-md-4">
				<div class="input">
					<div class="inputLabel">File Type</div>
					<select name="fileType">
						<option value="0">CSV</option>
						<option value="1">Excel</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div style='margin:0px 0px 10px 0px;'>
					<div>
						<input type='checkbox' name='newReferrals' checked style='float:left; margin:4px 4px 0px 0px' value='0' />New Referrals	
						<div style="clear:both"></div>
					</div>
					<div>
						<input type='checkbox' name='soldReferrals' checked style='float:left; margin:4px 4px 0px 0px' value='1' />Sold Referrals	
						<div style="clear:both"></div>
					</div>
					<div>
						<input type='checkbox' name='paidReferrals' checked style='float:left; margin:4px 4px 0px 0px' value='2' />Paid Referrals	
						<div style="clear:both"></div>
					</div>
					<div>
						<input type='checkbox' name='lostReferrals' checked style='float:left; margin:4px 4px 0px 0px' value='3' />Lost Referrals	
						<div style="clear:both"></div>
					</div>	
				</div>
				
				<div style='margin:0px 0px 10px 0px;' ng-show="ReferralStores.length">
					<strong style='font-size:20px;'>Stores (optional Filter)</strong>
					<div ng-repeat='x in ReferralStores'>
						<div>
							<input type="checkbox" name='storeID[]' checked value='{{x.id}}' style='float:left; margin:4px 4px 0px 0px' />{{x.name}}
							<div style="clear:both"></div>
						</div>
					</div>	
				</div>
				
				
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="submit" value="Create Report" class="blueButton">
			</div>	
		</div>
	</form>	
	
</div>