<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<div class="tabs">
				<ul>
					<li ng-class="{'selected': referralReportingSelected}"><a ng-href="{{referralReporting}}">Referrals</a></li>
				</ul>
			</div>			
		</div>
	</div>		
</div>


<div class="PageContent">
	<div ng-include src="subContent"></div>
</div>

