<div class="container" id="ReferralSumarySingle">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i>Your Referrals
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-6'>
			<div class="header">
				Your Referrals {{CurrentYear}}
			</div>
		</div>		
		<div class='col-md-6' style="text-align:right">
			<select ng-model="monthSelected" style="width:auto">
				<option></option>
				<option value="01">January</option>
				<option value="02">February</option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
		</div>
	</div>
	<div class="row" style="margin-top:15px;" ng-show="(Referrals | filter: monthSelectedFilter).length">
		<table>
			<tr>
				<td></td>
				<td style='font-weight:bold'>Referred Person</td>
				<td style='font-weight:bold'>Submitted</td>
				<td style='font-weight:bold'>Member</td>
				<td style='font-weight:bold'>Age</td>
				<td style='font-weight:bold'>Sold Date</td>
			</tr>
			<tr ng-repeat='x in Referrals | pagination: curPage * pageSize | limitTo: pageSize | filter: monthSelectedFilter' ng-class-even="'alternate'">
				<td style="width: 10px; padding-right:0px;">
					<div class="statusIndicator {{ x.Status | ReferralStatus}}" uib-tooltip="{{ x.Status | ReferralStatusText}}" tooltip-placement="bottom"></div>
				</td>
				<td>
					<a href="#/admin/your-individual-referrals/{{x.referralID}}" style='text-decoration:underline'>{{x.FirstName}} {{x.LastName}}</a>
				</td>
				<td>{{x.submittedDate | date:'mediumDate'}}</td>
				<td>{{x.firstName}} {{x.lastName}}</td>
				<td>+{{calculateAge(x.submittedDate, x.submittedTime)}} Days</td>
				<td>{{x.isSoldDate | date:'mediumDate'}}</td>
			</tr>
		</table>
	</div>
	<div class="row" style="margin-top:15px;" ng-hide="(Referrals | filter: monthSelectedFilter).length">
		<div class="col-md-12">
			There are no referrals entered for this month.	
		</div>	
	</div>
	
	<div class="row paginationCOntent" ng-show="(Referrals | filter: monthSelectedFilter).length">
		<div class="col-md-12">
			<ul>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage >= Referrals.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
				</li>
			</ul>				
		</div>
	</div>
	
	
</div>