
	
<header ng-controller="IntranetHeaderController">
	<div class="container-fluid">
		<div class="col-md-6" id="logoPlacement">
			<a href='#/admin/'>
				<img src='public/images/homeIcon.png' style="margin-right: 10px; float: none;" /><span class="userLoggedInName">{{UserLoggedInName}}</span>
			</a>
		</div>
		<div class="col-md-6">
			<div id="rightMenuContent">
				<div class="desktopView">
					<ul>
						
						<li style="position:relative" ng-show="CurrentUserType | MarketingLink">
							<a id="marketingLink" href="#/admin/marketing" style='text-decoration:none; color:white;' >
								Marketing	
							</a>
						</li>
						<li ng-show="CurrentUserType | ReferralLink"><a href="#/admin/reporting/referrals"><img src='public/images/Reporting.png' uib-tooltip="Reporting" tooltip-placement="bottom" /></a></li>
						<li><a href="#/admin/profile"><img src='public/images/profile.png' uib-tooltip="Profile" tooltip-placement="bottom" /></a></li>
						
					
						<li ng-show="CurrentUserType | SettingsLink"><a href="{{settingsLink}}"><img src='public/images/settings.png' uib-tooltip="Settings" tooltip-placement="bottom" /></a></li>
						
						
						<li><a href="" ng-click="logout()">Logout</a></li>
					</ul>	
				</div>
				<div class="mobileMenu">
					<a id="hrefMobileMenu" href="javascript:void(0)" onclick="Globals.ToggleMobileMenu()">
						<div style="color: white; font-size: 28px; height: 20px; margin-top: -3px;">
							<i class="fa fa-bars" aria-hidden="true"></i>	
						</div>							
					</a>
					
					<div class="mobileMenuDropdown">
						<a href="#/admin/profile">
							<div class="menuItem">
								Profile
							</div>
						</a>
						<a href="" ng-click="logout()">
							<div class="menuItem">
								Logout
							</div>
						</a>
						
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</header>
<div class="push"></div>


