<div class='container'>
	<div class="row headerDivider" style="margin-left: 0px; margin-right: 0px;">
		<div class='col-md-6' style="padding-left:0px;">
			<div class="header">
				All Referral Members
			</div>			
		</div>
		<div class='col-md-6' style="padding-right:0px;">
			<a href="#/admin/settings/referral-members/new">
				<div class="greenButton floatRightButton">
					New Member	
				</div>
			</a>
		</div>
			
	</div>
	<div class="row" ng-show="ReferralMembers.length">
		<div class='col-md-12'>
			<table style='margin-top:10px'>
				<tr class="header">
					<td></td>
					<td>Name</td>
					<td>Club ID</td>
					<td style="text-align:right">Member Since</td>
					<td></td>
				</tr>
				<tr ng-repeat='x in ReferralMembers | pagination: curPage * pageSize | limitTo: pageSize' ng-class-even="'alternate'">
					<td style="position:relative; width: 10px; padding-right: 0px;">
						<div class="statusIndicator InactiveStatus" ng-show="x.ActiveState == 0" uib-tooltip="Deactivated" tooltip-placement="bottom"></div>
						<div class="statusIndicator WarningStatus" ng-show="x.isSidDillonRelation == 1" style="position: absolute; z-index: 1; top: 50%; margin-top: -8.5px;" uib-tooltip="Warning" tooltip-placement="bottom"></div>
					</td>
					<td>
						<a href="#/admin/settings/referral-members/SD{{x.ClubID}}" style="text-decoration:underline">{{x.memberFirstName}} {{x.memberLastName}}</a>
					</td>
					<td>
						SD{{x.ClubID}}
					</td>
					<td style="text-align:right">
						{{x.memberStartedDate | date:'mediumDate'}}
					</td>
					<td style="width: 10px;">
						<a href="javascript:void(0)" uib-tooltip="Deactivate Member" tooltip-placement="bottom" ng-click="deactivateUser(x.referralMemberID, $index)" ng-show="x.ActiveState == 1">
							<i class="fa fa-trash" aria-hidden="true" ></i>	
						</a>
						
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row paginationCOntent" ng-show="ReferralMembers.length">
		<div class="col-md-12">
			<ul>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage >= ReferralMembers.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
				</li>
			</ul>				
		</div>
	</div>
	<div class="row" ng-hide="ReferralMembers.length">
		<div class="col-md-12" style="margin-top:10px;">
			There are no referral members registered
		</div>		
	</div>
	
</div>
<div ng-show="DeactivateUserPopup">
	<div class="Overlay"></div>
	<div class="DeactivateUser">
		<div class="header">
			Deactivate Member
			<div class="closeBtn" ng-click="hideDeactivateUserForm()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content">
			<div class="row pageMessage" style="margin:0px; padding: 0px 0px 5px 0px;" ng-show="showDeactivateMessage">
				<div class="col-md-12" style="padding: 0px;">
					<div class='loadingSpinner' ng-show="loadingDeactivateFinal">
						<img src="public/images/ajax-loader.gif" />
					</div>
					<div style="color:#c30000">
						{{errorDeactivateMessage}}
					</div>
				</div>
			</div>
			
			
			<form serializer="deactiveUserForm(data)">
				<div class="row">
					<div class="col-md-12">
						<div class="input">
							<div class="inputLabel">Deactive Reason</div>
							<textarea name="deactiveReason" ng-model="deactiveReason"></textarea>
						</div>
						<div class="input" style="margin-bottom:0px;">
							<input type="submit" value="Deactivate User" class="greenButton" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


