<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				Cron Job list
			</div>			
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class='col-md-12'>
			<div style="margin-bottom:20px;">
				<div><a href="{{CurrentAppPath}}notification/SEND/todo" target="_blank">{{CurrentAppPath}}notification/SEND/todo</a></div>
				<ul style="margin-left:15px; margin-top:15px;">
					<li>Sends out Email reminders to individual stores of their weekly to do list</li>
					<li>Sends a summary of all store <strong>Weekly to do list</strong> to the email that is entered in the "Summary Email Reminder"</li>
				</ul>
			</div>
			<div style="margin-bottom:20px;">
				<div><a href="{{CurrentAppPath}}inventory/INSERT" target="_blank">{{CurrentAppPath}}inventory/INSERT</a></div>
				<ul style="margin-left:15px; margin-top:15px;">
					<li>Updates the staging inventory table</li>
					<li>After Inventory staging table has been updated, compares the staging and production inventory and does the following
						<ul style="margin-left:15px; margin-top:15px;">
							<li>Updates current if the date modified is different</li>
							<li>Adds new records if it doesn't exist in production table</li>
							<li>deletes records in production if it's not in staging</li>
						</ul>	
					</li>
				</ul>
			</div>
			
			<div style="margin-bottom:20px;">
				<div><a href="{{CurrentAppPath}}inventory/CLEAR" target="_blank">{{CurrentAppPath}}inventory/CLEAR</a></div>
				<ul style="margin-left:15px; margin-top:15px;">
					<li>clears the staging table at the end of the work day</li>
				</ul>
			</div>
			<div style="margin-bottom:20px;">
				<div><a href="{{CurrentAppPath}}reporting/CLEAR" target="_blank">{{CurrentAppPath}}reporting/CLEAR</a></div>
				<ul style="margin-left:15px; margin-top:15px;">
					<li>clears reports made on the previous business day</li>
				</ul>
			</div>
			
			
		</div>
	</div>
	

</div>


