<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				Main Settings
			</div>			
		</div>
	</div>
	<form serializer="mainSettingsSubmit(data)">
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class='loadingSpinner' ng-show="loadingFinal">
					<img ng-src="{{ finishLoading }}" />
				</div>
				<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
					{{errorMessage}}
				</div>
			</div>
		</div>	
		<div class="row" style="margin-top:20px;">
			<div class='col-md-6'>
				<div class="input">
					<div class="inputLabel">Summary Email Reminder</div>
					<input type="text" ng-model="MainSettings.summaryEmailReminder" name="summaryEmailReminder">
				</div>
			</div>
			<div class='col-md-6'>
				<div class="input">
					<div class="inputLabel">Urgent Post Email</div>
					<input type="text" ng-model="MainSettings.urgentPostEmail" name="urgentPostEmail">
				</div>
			</div>
		</div>
		<div class="row">
			<div class='col-md-12'>
				<input type="submit" value="Save" class="blueButton" />
			</div>	
		</div>
	</form>	
</div>