<div class='container'>
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<a href='#/admin/settings/referral-members' style='text-decoration:underline;'>Referral Members List</a> <i class="fa fa-caret-right" aria-hidden="true"></i>  {{memberFullName}}
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				Referral Member Single ({{ActiveStatus}})
			</div>			
		</div>
	</div>
	
	<div ng-include='"view/admin/shared/ReferralWarningBar.html"'></div>
	
	<div class='row' style="margin-top: 15px;">
		<div class='col-md-12'>
			<strong>Club ID:</strong> SD{{ClubID}}
		</div>
	</div>	
	
	<form serializer="referralMemberSubmit(data)">
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class='loadingSpinner' ng-show="loadingFinal">
					<img src="public/images/ajax-loader.gif" />
				</div>
				<div ng-class="showSuccess ? 'success' : 'danger'" class='messageText'>
					{{errorMessage}}
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				Member Information
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="sidDillonEmployeeBox">
					<div style="margin-bottom: 4px;">
						<input type="hidden" name="isSidDillonEmployee" value="0" />
						<input type="checkbox" name="isSidDillonEmployee" ng-model="MemberSingle.isSidDillonEmployee" style="float:left; margin-right:3px; margin-top:4px;" />Is Sid Dillon Employee	
					</div>
					<div>
						<input type="hidden" name="isMemberActiveStatus" value="0" />
						<input type="checkbox" name="isMemberActiveStatus" ng-model="MemberSingle.isActiveStatus" ng-change="ShowDeactiveChange(MemberSingle.isActiveStatus)" ng-true-value="1" ng-false-value="0" style="float:left; margin-right:3px; margin-top:4px;" />Member is Active
					</div>	
				</div>
			</div>
		</div>
		<div class="row" ng-show="ShowDeactiveReason">
			<div class="col-md-12">
				<div class="input">
					<div class='inputLabel'>Deactive Reason status (this will prompt to the user when they try to login)</div>
					<textarea name="deactiveReason" ng-model="MemberSingle.deactiveStatus"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>First Name</div>
					<input type='text' name="memberFirstName" ng-model="MemberSingle.memberFirstName" />
				</div>
			</div>
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Last Name</div>
					<input type='text' name="memberLastName" ng-model="MemberSingle.memberLastName" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Email</div>
					<input type='text' name="memberEmail" ng-model="MemberSingle.memberEmail" />
				</div>
			</div>
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Phone</div>
					<input type='text' name="memberPhone" phone-input ng-model="MemberSingle.memberPhone" />
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				Member Address
			</div>
		</div>		
		
		<div class="row">
			<div class="col-md-12">
				<div class='input'>
					<div class='inputLabel'>Address</div>
					<input type='text' name="memberAddress" ng-model="MemberSingle.memberAddress" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class='input'>
					<div class='inputLabel'>City</div>
					<input type='text' name="memberCity" ng-model="MemberSingle.memberCity" />
				</div>
			</div>
			<div class="col-md-2">
				<div class='input'>
					<div class='inputLabel'>State</div>
					<select name="memberState">
						<option value="0"></option>
						<option value="AL" ng-selected="State == 'AL'">AL</option>
						<option value="AK" ng-selected="State == 'AK'">AK</option>
						<option value="AR" ng-selected="State == 'AR'">AR</option>
						<option value="AZ" ng-selected="State == 'AZ'">AZ</option>
						<option value="CA" ng-selected="State == 'CA'">CA</option>
						<option value="CO" ng-selected="State == 'CO'">CO</option>
						<option value="CT" ng-selected="State == 'CT'">CT</option>
						<option value="DE" ng-selected="State == 'DE'">DE</option>
						<option value="DC" ng-selected="State == 'DC'">DC</option>
						<option value="FL" ng-selected="State == 'FL'">FL</option>
						<option value="GA" ng-selected="State == 'GA'">GA</option>
						<option value="HI" ng-selected="State == 'HI'">HI</option>
						<option value="IA" ng-selected="State == 'IA'">IA</option>
						<option value="ID" ng-selected="State == 'ID'">ID</option>
						<option value="IL" ng-selected="State == 'IL'">IL</option>
						<option value="IN" ng-selected="State == 'IN'">IN</option>
						<option value="KS" ng-selected="State == 'KS'">KS</option>
						<option value="KY" ng-selected="State == 'KY'">KY</option>
						<option value="LA" ng-selected="State == 'LA'">LA</option>
						<option value="ME" ng-selected="State == 'ME'">ME</option>
						<option value="MD" ng-selected="State == 'MD'">MD</option>
						<option value="MA" ng-selected="State == 'MA'">MA</option>
						<option value="MI" ng-selected="State == 'MI'">MI</option>
						<option value="MN" ng-selected="State == 'MN'">MN</option>
						<option value="MO" ng-selected="State == 'MO'">MO</option>
						<option value="MS" ng-selected="State == 'MS'">MS</option>
						<option value="MT" ng-selected="State == 'MT'">MT</option>
						<option value="NE" ng-selected="State == 'NE'">NE</option>
						<option value="NM" ng-selected="State == 'NM'">NM</option>
						<option value="NV" ng-selected="State == 'NV'">NV</option>
						<option value="NH" ng-selected="State == 'NH'">NH</option>
						<option value="NJ" ng-selected="State == 'NJ'">NJ</option>
						<option value="NY" ng-selected="State == 'NY'">NY</option>
						<option value="NC" ng-selected="State == 'NC'">NC</option>
						<option value="ND" ng-selected="State == 'ND'">ND</option>
						<option value="OH" ng-selected="State == 'OH'">OH</option>
						<option value="OK" ng-selected="State == 'OK'">OK</option>
						<option value="OR" ng-selected="State == 'OR'">OR</option>
						<option value="PA" ng-selected="State == 'PA'">PA</option>
						<option value="RI" ng-selected="State == 'RI'">RI</option>
						<option value="SC" ng-selected="State == 'SC'">SC</option>
						<option value="SD" ng-selected="State == 'SD'">SD</option>
						<option value="TX" ng-selected="State == 'TX'">TX</option>
						<option value="TN" ng-selected="State == 'TN'">TN</option>
						<option value="UT" ng-selected="State == 'UT'">UT</option>
						<option value="VT" ng-selected="State == 'VT'">VT</option>
						<option value="VA" ng-selected="State == 'VA'">VA</option>
						<option value="WA" ng-selected="State == 'WA'">WA</option>
						<option value="WV" ng-selected="State == 'WV'">WV</option>
						<option value="WI" ng-selected="State == 'WI'">WI</option>
						<option value="WY" ng-selected="State == 'WY'">WY</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class='input'>
					<div class='inputLabel'>Zip</div>
					<input type='text' name="memberZip" ng-model="MemberSingle.memberZip" />
				</div>
			</div>
		</div>
	
			
		<div class="row">
			<div class="col-md-12">
				<input type="submit" value="Save" class='greenButton' />
			</div>
		</div>
	

		
		
	</form>
	
	<div class="row headerDivider" style="margin-top:30px;">
		<div class='col-md-12'>
			<div class="header">
				Member Activity
			</div>			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="contentHeader">
				Paid
			</div>
			<div ng-repeat="x in PaidReferrals" class="earnedLine">
				<div class="referralName">
					<a style="text-decoration:underline;" href="#/admin/{{x.storeID}}/referrals/october/{{x.referralID}}/view/admin">RF{{x.referralID}}</a>		
				</div>
				<div class="Amount" style="float:right">
					${{x.PaidAmount}}
				</div>
				<div class="divider"></div>
				<div style="clear:both"></div>
			</div>
			<div class="GrandTotalLine" ng-show="PaidReferrals.length">
				<div class="grandTotalNumber">
					<span style="color: #666; font-weight: normal;">Grand Total: </span>${{GrandTotalNumber}}	
				</div>		
				<div style="clear:both"></div>
			</div>
			<div ng-hide="PaidReferrals.length">
				No Paid Referrals
			</div>
		</div>
		<div class="col-md-4">
			<div class="contentHeader">
				Active
			</div>
			<div class="ActiveList">
				<span ng-repeat="x in ActiveReferrals" style="float: left;"><span class="bullet" ng-hide="$index === 0">&bull;</span><a href="#/admin/{{x.storeID}}/referrals/october/{{x.referralID}}/view/admin">RF{{x.referralID}}</a></span>	
			</div>
			<div ng-hide="ActiveReferrals.length">
				No Active Referrals
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="contentHeader">
				Inactive
			</div>
			<div class="ActiveList">
				<span ng-repeat="x in InactiveReferrals" style="float: left;"><span class="bullet" ng-hide="$index === 0">&bull;</span><a href="#/admin/{{x.storeID}}/referrals/october/{{x.referralID}}/view/admin">RF{{x.referralID}}</a></span>	
			</div>
			<div ng-hide="InactiveReferrals.length">
				No Inactive Referrals
			</div>
		</div>
	</div>

</div>


