<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-6'>
			<div class="header">
				Users
			</div>			
		</div>
		<div class='col-md-6'>
			<a href="#/admin/settings/referral-users/new">
				<div class='greenButton floatRightButton'>
					New User	
				</div>
			</a>
		</div>		
	</div>
	<div class="row">
		<div class='col-md-12'>
			<table style='margin-top:10px'>
				<tr class='header'>
					<td>Name</td>
					<td>Store</td>
					<td>Last Login</td>
				</tr>
				<tr ng-repeat='x in usersList | pagination: curPage * pageSize | limitTo: pageSize' ng-class-even="'alternate'">
					<td>
						<a ng-href='#/admin/settings/referral-users/{{ x.userID }}/edit'>{{ x.firstName }} {{ x.lastName }}</a>
					</td>
					<td>
						{{ x.name }}
					</td>
					<td>
						<div ng-if="x.lastLoginDate">
							{{x.lastLoginDate | date:'mediumDate'}} / {{x.lastLoginDateTime | ConvertTimeAMPM}}	
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row paginationCOntent" ng-show="usersList.length">
		<div class="col-md-12">
			<ul>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage >= usersList.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
				</li>
			</ul>				
		</div>
	</div>

</div>


