<div class='container'>
	<div ng-controller="SettingTabsController">
		<div class='row' ng-show="CurrentUser | SettingsTabTypes">
			<div class='col-md-12'>
				<div class="tabs">
					<ul>
						<li ng-class="{'selected': settingsMainSelected}"><a ng-href="{{settingsMain}}">Settings</a></li>
						<li ng-class="{'selected': settingsToDoListSelected}"><a ng-href="{{settingsToDoList}}">To Do List</a></li>
						<li ng-class="{'selected': settingsStoreListSelected}"><a ng-href="{{settingsStores}}">Stores</a></li>
						<li ng-class="{'selected': settingsUsersSelected}"><a ng-href="{{settingsUsers}}">Users</a></li>
						<li ng-class="{'selected': settingsReferralTierSelected}"><a ng-href="{{settingsReferralTier}}">Referral Tiers</a></li>
						<li ng-class="{'selected': settingsAllReferralMembersSelected}"><a ng-href="{{settingsReferralMembers}}">Referral Members</a></li>
						<li ng-class="{'selected': settingsLogsSelected}"><a ng-href="{{settingsLogs}}">Logs</a></li>
						<li ng-class="{'selected': settingsSystemSelected}"><a ng-href="{{settingsSystem}}">System</a></li>
						<li ng-class="{'selected': settingsCronSelected}"><a ng-href="{{settingsCron}}">Cron Job List</a></li>
					</ul>
				</div>			
			</div>
		</div>	
		<div class="row" ng-hide="CurrentUser | SettingsTabTypes">
			<div class='col-md-12'>
				<div class="tabs">
					<ul>
						<li ng-class="{'selected': referralUsersSelected}"><a ng-href="{{referralUsers}}">Referral Users</a></li>
						<li ng-show="showReferralMembers" ng-class="{'selected': settingsAllReferralMembersSelected}"><a ng-href="{{settingsReferralMembers}}">Referral Members</a></li>
					</ul>
				</div>			
			</div>
		</div>	
	</div>
</div>


<div class="PageContent">
	<div ng-include src="subContent"></div>
</div>

