<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-6'>
			<div class="header">
				Stores
			</div>			
		</div>
		<div class='col-md-6'>
			<a href="#/admin/settings/stores/new">
				<div class='greenButton floatRightButton'>
					New Store	
				</div>
			</a>
		</div>		
	</div>
	<div class="row">
		<div class='col-md-12'>
			<table style='margin-top:10px'>
				<tr ng-repeat='x in StoreList' ng-class-even="'alternate'">
					<td><a ng-href='#/admin/settings/stores/{{ x.id }}/edit'>{{ x.name }}</a></td>
					<td class='delete'>
						<a ng-click="deleteStore(x.id, $index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>