<div class='container'>
	<div class="row breadCrumbSeciton" ng-show="showBreadCrumbs">
		<div class='col-md-12'>
			<a href='#/admin/settings/stores' style='text-decoration:underline;'>Store List</a> <i class="fa fa-caret-right" aria-hidden="true"></i>  {{storeName}}
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				{{SingleStoreHeader}}
			</div>			
		</div>
	</div>
	<form serializer="storeSubmit(data)">	
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class='loadingSpinner' ng-show="loadingFinal">
					<img src="public/images/ajax-loader.gif" />
				</div>
				<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
					{{errorMessage}}
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				Store Info
			</div>
		</div>	
		
		<div class='row'>
			<div class='col-md-12'>
				<div class='input'>
					<div class='inputLabel'>Store Name</div>
					<input type='text' name="storeName" ng-model="StoreSingle.storeName" />
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Facebook Url</div>
					<input type='text' name="storeFacebookUrl" ng-model="StoreSingle.storeFacebookUrl" />
				</div>
			</div>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Twitter Url</div>
					<input type='text' name="storeTwitterURL" ng-model="StoreSingle.storeTwitterURL" />
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Youtube Url</div>
					<input type='text' name="storeYouTubeUrl" ng-model="StoreSingle.storeYouTubeUrl" />
				</div>
			</div>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Instagram Url</div>
					<input type='text' name="storeInstagramUrl" ng-model="StoreSingle.storeInstagramUrl" />
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Google+ Url</div>
					<input type='text' name="storeGooglePlusUrl" ng-model="StoreSingle.storeGooglePlusUrl" />
				</div>
			</div>
			<div class='col-md-6'>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				Location/Contact
			</div>
		</div>	
		
		<div class='row'>
			<div class='col-md-6'>
				<div class="row">
					<div class='col-md-12'>
						<div class='input'>
								<div class='inputLabel'>Street</div>
								<input type='text' name="storeStreet" ng-model="StoreSingle.storeStreet" />
							</div>
					</div>
				</div>
				<div class="row">
					<div class='col-md-8'>
						<div class='input'>
							<div class='inputLabel'>City</div>
							<input type='text' name="storeCity" ng-model="StoreSingle.storeCity" />
						</div>
					</div>
					<div class='col-md-2'>
						<div class='input'>
							<div class='inputLabel'>State</div>
							<input type='text' name="storeState" maxlength="2" ng-model="StoreSingle.storeState" />
						</div>
					</div>
					<div class='col-md-2'>
						<div class='input'>
							<div class='inputLabel'>Zip</div>
							<input type='text' name="storeZip" maxlength="5" ng-model="StoreSingle.storeZip" />
						</div>
					</div>
				</div>
				
			</div>
			<div class='col-md-6'>
				<div class='input'>
					<div class='inputLabel'>Phone #</div>
					<input type='text' name="storePhone" phone-input ng-model="StoreSingle.storePhone" />
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12 contentHeader'>
				Settings
			</div>
		</div>	
		
		<div class="row">
			<div class="col-md-12">
				<input type="checkbox" name="isReferralClub" ng-model="StoreSingle.isReferralStore" ng-change="ShowReferralEmail(StoreSingle.isReferralStore)" style="float:left; margin-right:3px;" ng-true-value="1" ng-false-value="0">Sid Dillon Referral Club Participant
			</div>
		</div>
		<div class="row" ng-show="showReferralEmail" style="margin-top:10px;">
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Referral Emails<span style="margin-left:5px;"><img src="public/images/ToolTipHelp.png" uib-tooltip="Multiple emails - separate with ', '" tooltip-placement="top"></span></div>
					<input type='text' name="referralEmailDefault" ng-model="StoreSingle.referralEmailDefault" />
				</div>
			</div>
			<div class="col-md-6">
				<div class='input'>
					<div class='inputLabel'>Referral Default User<span style="margin-left:5px;"><img src="public/images/ToolTipHelp.png" uib-tooltip="When a user select other on referrals, the selected user will be assigned these referrals" tooltip-placement="top"></span></div>
					<select name="referralUserDefault" ng-model="StoreSingle.referralUserDefault">
						<option ng-repeat="x in UserStoreAdmins" value="{{x.userID}}" ng-selected="DefaultUser == {{x.userID}}">{{x.firstName}} {{x.lastName}}</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:10px;">
			<div class="col-md-12">
				<input type="submit" value="Save" class='greenButton' />
			</div>
		</div>
	</form>
	
	
	
	<div ng-show="showWebsites" style="margin-top:60px;">
		
			
		<div class="row headerDivider">
			<div class='col-md-6'>
				<div class="header">
					Websites
				</div>			
			</div>
			<div class='col-md-6'>
				<a ng-click="addWebsiteRow()" href="javascript:void(0);">
					<div class='greenButton' style="float:right;">
						Add Row
					</div>
				</a>
			</div>
		</div>
		<div style="height:20px;"></div>
		
		<form serializer="websitesSubmit(data)">
			<div class="row pageMessage" ng-show="showWebsiteMessage">
				<div class="col-md-12">
					<div class='loadingSpinner' ng-show="loadingFinal">
						<img ng-src="{{ finishLoading }}" />
					</div>
					<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
						{{websiteMessage}}
					</div>
				</div>
			</div>
			<div class="row" ng-repeat="x in Websites track by $index">		
				
				<input type="text" style="display:none;" ng-model="Website.websiteID[$index]" name="websiteID[]" />
				<div class='col-md-6'>
					<div class='input'>
						<div class='inputLabel'>Website Url</div>
						<input type='text' ng-model="Website.webName[$index]" name="webName[]" />
					</div>			
				</div>
				<div class='col-md-5'>
					<div class='input'>
						<div class='inputLabel'>Website Provider</div>
						<input type='text' ng-model="Website.thirdparty[$index]" name='thirdparty[]' />
					</div>			
				</div>
				<div class='col-md-1' style="text-align:center;">
					<div class='input'>
						<div class='inputLabel'>&nbsp;</div>
						<a ng-click="deleteWebsite(x.websiteID, $index)" style='font-size: 20px;'><i class="fa fa-trash" aria-hidden="true"></i></a>
						
					</div>			
				</div>
			</div>
			<div class="row" ng-show="WebsiteRowsPresent">
				<div class='col-md-12'>
					<input class="blueButton" value="Save" type="submit" />
				</div>
			</div>
		</form>

							
		
	</div>
	

	
	
</div>