<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				Current Session Info
			</div>			
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class='col-md-12'>
			<pre>User ID: {{currentSessionUserID}}<br />User Store ID: {{currentSessionUserStore}}<br />User Type: {{currentSessionUserType | GetUserTypeText}}</pre>
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				PHP Info
			</div>			
		</div>
	</div>
	<div class="row">
		<div class='col-md-12'>
			<div ng-bind-html="phpInfo"></div>
		</div>
	</div>
	

</div>


