<div class='container'>
	<div class="row headerDivider">
		<div class='col-md-12'>
			<div class="header">
				Weekly To Do List
			</div>			
		</div>
	</div>
	<form serializer="toDoListSubmit(data)">
		<div class="row pageMessage" ng-show="showMessage">
			<div class="col-md-12">
				<div class='loadingSpinner' ng-show="loadingFinal">
					<img ng-src="{{ finishLoading }}" />
				</div>
				<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert '>
					{{errorMessage}}
				</div>
			</div>
		</div>	
		<div class="row" style="margin-top:20px;">
			<div class='col-md-6'>
				<div class="input">
					<div class="inputLabel">Facebook Posts</div>
					<input type="text" name="facebookpost" ng-model="ToDoListSettings.facebookpost">
				</div>
			</div>
			<div class='col-md-6'>
				<div class="input">
					<div class="inputLabel">Twitter Posts</div>
					<input type="text" name="toDoTwitter" ng-model="ToDoListSettings.toDoTwitter">
				</div>
			</div>
		</div>
		<div class="row">
			<div class='col-md-6'>
				<div class="input">
					<div class="inputLabel">Website Blog Posts</div>
					<input type="text" name="blogpost" ng-model="ToDoListSettings.blogpost">
				</div>
			</div>
			<div class='col-md-6'>
			</div>
		</div>
		<div class="row">
			<div class='col-md-12'>
				<input type="submit" value="Save" class="blueButton" />
			</div>	
		</div>
	</form>	
</div>