<div class='container'>
	<div class="row" ng-show="showChangedMessage">
		<div class='col-md-12'>
			<div class="alert alert-success">
			  <strong>Success!</strong> Indicates a successful or positive action.
			</div>
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-6'>
			<div class="header">
				Users
			</div>			
		</div>
		<div class='col-md-6'>
			<a href="#/admin/settings/users/new">
				<div class='greenButton floatRightButton'>
					New User	
				</div>
			</a>
		</div>		
	</div>
	<div class="row">
		<div class='col-md-12'>
			<table style='margin-top:10px'>
				<tr class='header'>
					<td></td>
					<td>Name</td>
					<td>Type</td>
					<td>Store</td>
					<td>Last Login</td>
					<td></td>
				</tr>
				<tr ng-repeat='x in usersList | pagination: curPage * pageSize | limitTo: pageSize' ng-class-even="'alternate'">
					<td style="width: 10px; padding-right: 0px;">
						<div class="statusIndicator InactiveStatus" ng-show="x.isActive == 2" uib-tooltip="Deactivated" tooltip-placement="bottom"></div>
					</td>
					<td style="position:relative">
						<a ng-if="x.isActive == 0" ng-href='#/admin/settings/users/{{ x.userID }}/requested'>{{ x.firstName }} {{ x.lastName }}</a>
						<a ng-if="x.isActive == 1 || x.isActive == 2" ng-href='#/admin/settings/users/{{ x.userID }}/edit'>{{ x.firstName }} {{ x.lastName }}</a>
						<div ng-if="x.isActive == 0" class='newUserIndicator'></div>	
					</td>
					<td>
						{{ x.userType | GetUserTypeText}}
					</td>
					<td>
						{{ x.name }}
					</td>
					<td>
						<div ng-if="x.lastLoginDate">
							{{x.lastLoginDate | date:'mediumDate'}} / {{x.lastLoginDateTime | ConvertTimeAMPM}}	
						</div>
						
					</td>
					<td style='text-align:right; color:#c30000; font-size: 20px;'>
						<a ng-hide="x.isActive == 2" ng-click="deactivateUser(x.userID, $index)"><i class="fa fa-trash" aria-hidden="true" uib-tooltip="Deactivate User" tooltip-placement="bottom"></i></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row paginationCOntent" ng-show="usersList.length">
		<div class="col-md-12">
			<ul>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
				</li>
				<li>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
				</li>
				<li>
					<button type="button" class="btn-primary" ng-disabled="curPage >= usersList.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
				</li>
			</ul>				
		</div>
	</div>
</div>

<div ng-show="ShowDeactivatePopup">
	<div class="Overlay"></div>	
	<div class="DeactivateUser">
		<div class="header">
			Deactivate User
			<div class="closeBtn" ng-click="hideDeactivateUserForm()">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content">
			<div class="row pageMessage" style="margin:0px; padding: 0px 0px 5px 0px;" ng-show="showDeactivateMessage">
				<div class="col-md-12" style="padding: 0px;">
					<div class='loadingSpinner' ng-show="loadingDeactivateFinal">
						<img src="public/images/ajax-loader.gif" />
					</div>
					<div style="color:#c30000">
						{{errorDeactivateMessage}}
					</div>
				</div>
			</div>
			
			
			<form serializer="deactiveUserForm(data)">
				<div class="row">
					<div class="col-md-12">
						<div class="input">
							<div class="inputLabel">Deactive Reason</div>
							<textarea name="deactiveReason" ng-model="deactiveReason"></textarea>
						</div>
						<div class="input" style="margin-bottom:0px;">
							<input type="submit" value="Deactivate User" class="greenButton" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



