<div class="container" id="ReferralSingle">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i></span><a href="#/admin/{{storeID}}/your-referrals" style='text-decoration:underline;'>Referral Summary</a><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#/admin/{{storeID}}/your-referrals/{{MonthSelected}}" style='text-decoration:underline;'>{{MonthSelected | capitalize}}</a><i class="fa fa-caret-right" aria-hidden="true"></i>View Referral
		</div>
	</div>
	<div class="row headerDivider">
		<div class="col-md-6">
			<div class="header">
				Referral Single
			</div>
		</div>		
		<div class="col-md-6">
			<div ng-show="showMarkAsSoldLostBtns" style="text-align:right">			
				<a href="javascript:void(0)" ng-click="MarkLost()">
					<div class="redButton" style="float:right; margin-left:10px; width:40px; text-align:center;" uib-tooltip="Mark As Lost" tooltip-placement="bottom">
						<img src="public/images/Lost.png" style="margin-top: -3px; height: 20px;" />
					</div>
				</a>
				<a href="javascript:void(0)" ng-click="MarkSold()">
					<div class="greenButton" style="float:right; width:40px; text-align:center;" uib-tooltip="Mark As Sold" tooltip-placement="bottom">
						<img src="public/images/Sale.png" style="margin-top: -3px; width: 10px;" />
					</div>
				</a>				
			</div>

		</div>
	</div>
	<div ng-include='"view/admin/shared/ReferralWarningBar.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralSaleDataForm.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralLostDataForm.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralSaleDealNotes.html"'></div>	
	
	<div ng-include='"view/admin/shared/ReferralSaleLostNotes.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralSingleView.html"'></div>	
	
	<div ng-include='"view/admin/shared/ReferralSaleCommentsReadOnly.html"'></div>
	
	<div ng-show="showSalesAddComments">
		<form serializer="referralSaleComments(data)">
			<div class="referralInformation" style="padding-bottom: 0px;">
				<div class="pageMessage" ng-show="showSaleCommentMessage">
					<div class="loadingSpinner ng-hide" ng-show="loadingFinalSaleComment">
						<img src="public/images/ajax-loader.gif">
					</div>
					<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert ' style="margin-bottom:0px;">
						{{UpdatedMessage}}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="contentHeader">
							Sales Comments
						</div>
						Internal Use only. Not Seen by customer.
						<div class="input" style='margin-top:5px;'>
							<textarea name="saleComments" ng-model="saleComments"></textarea>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input">
							<input type="submit" value="Save" class="blueButton" />
						</div>
					</div>
				</div>		
			</div>		
		</form>		
	</div>
	
	<div ng-include='"view/admin/shared/ReferralMarkAsPaidPopup.html"'></div>
	
</div>

