<div class="container" id="ReferralSumarySingle">
	<div class="row breadCrumbSeciton">
		<div class='col-md-12'>
			<span><a href='#/admin/' style='text-decoration:underline;'>Dashboard</a><i class="fa fa-caret-right" aria-hidden="true"></i><a href='#/admin/your-individual-referrals' style='text-decoration:underline;'>Your Referrals</a><i class="fa fa-caret-right" aria-hidden="true"></i>RF{{ReferralID}}
		</div>
	</div>
	<div class="row headerDivider">
		<div class='col-md-6'>
			<div class="header">
				RF{{ReferralID}} 
			</div>
		</div>		
		<div class='col-md-6'>
			<div ng-show="showMarkAsSoldLostBtns">
				<a href="javascript:void(0)" ng-click="MarkLost()">
					<div class="redButton" style="float:right; margin-left:10px; width:40px; text-align:center;" uib-tooltip="Enter your As lost reason" tooltip-placement="bottom">
						<img src="public/images/Lost.png" style="margin-top: -3px; height: 20px;" />
					</div>
				</a>
				<a href="javascript:void(0)" ng-click="MarkSold()">
					<div class="greenButton" style="float:right; width:40px; text-align:center;" uib-tooltip="Enter Sold Vehicle Data" tooltip-placement="bottom">
						<img src="public/images/Sale.png" style="margin-top: -3px; width: 10px;" />
					</div>
				</a>
				
			</div>
		</div>
	</div>
	
	<div ng-include='"view/admin/shared/ReferralSaleDealNotes.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralSaleLostNotes.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralSaleDataForm.html"'></div>
	
	<div ng-include='"view/admin/shared/ReferralLostDataForm.html"'></div>
		
	<div ng-include='"view/admin/shared/ReferralSingleView.html"'></div>	
		
	
		
	
	
	
	<div ng-include='"view/admin/shared/ReferralSaleCommentsReadOnly.html"'></div>
	
	<div ng-show="showSalesAddComments" style="margin-top:15px;">
		<form serializer="referralSaleComments(data)">
			<div class="referralInformation" style="padding-bottom: 0px;">
				<div class="pageMessage" ng-show="showSaleCommentMessage">
					<div class="loadingSpinner" ng-show="loadingFinalSaleComment">
						<img src="public/images/ajax-loader.gif">
					</div>
					<div ng-class="showSuccess ? 'alert-success' : 'alert-danger'" class='text alert ' style="margin-bottom:0px;">
						{{UpdatedMessage}}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="contentHeader" style="margin-top:0px;">
							Sales Comments
						</div>
						Internal Use only. Not Seen by customer.
						<div class="input" style='margin-top:5px;'>
							<textarea name="saleComments" ng-model="saleComments"></textarea>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input">
							<input type="submit" value="Save" class="blueButton" />
						</div>
					</div>
				</div>		
			</div>		
		</form>		
	</div>
	
	
</div>